<div class="sticky-add-to-cart-group">
  <div class="d-flex align-items-center justify-content-between">
    <div class="sticky-add-to-cart-left">
      {{ product.featured_image | image_url: width: '150' | image_tag }}
      <h2>
        {{ product.title }}
      </h2>
    </div>
    {% if current_variant.inventory_management %}
      {% assign first_inventory = current_variant.inventory_quantity %}

      {% if first_inventory > 0 %}
        <input
          data-btn-addToCart
          type="submit"
          name="add"
          class="btn"
          {% if settings.enable_multilang %}
            data-translate="products.product.add_to_cart"
          {% endif %}
          id="sticky-product-add-to-cart"
          value="{{ 'products.product.add_to_cart' | t }}"
          data-form-id="#add-to-cart-form"
        >
      {% else %}
        <input
          data-btn-addToCart
          type="submit"
          name="add"
          class="btn"
          {% if settings.enable_multilang %}
            data-translate="products.product.pre_order"
          {% endif %}
          id="sticky-product-add-to-cart"
          value="{{ 'products.product.pre_order' | t }}"
          data-form-id="#add-to-cart-form"
        >
      {% endif %}

    {% else %}
      <button
        data-btn-addToCart
        type="submit"
        name="add"
        class="btn"
        {% if settings.enable_multilang %}
          data-translate="products.product.add_to_cart"
        {% endif %}
        id="sticky-product-add-to-cart"
        data-form-id="#add-to-cart-form"
      >
        {{ 'products.product.add_to_cart' | t -}}
        <span>&bull;</span> {{ product.price | money }}
      </button>
    {% endif %}
  </div>
</div>

<script defer>
  function stickyAddToCart() {
    const stickyAddToCart = $('.sticky-add-to-cart-group');
    const productAddToCart = $('#product-add-to-cart');
    const productAddToCartOffset = productAddToCart.offset().top + 100;

    $(window).on('scroll', function () {
      if (window.pageYOffset > productAddToCartOffset) {
        stickyAddToCart.addClass('show').slideDown();
      } else {
        stickyAddToCart.removeClass('show').slideUp();
      }
    });
  }

  $(document).ready(function () {
    stickyAddToCart();
  });
</script>
