<div class="sticky-add-to-cart-group">
  <div class="d-flex align-items-center justify-content-between">
    <div class="sticky-add-to-cart-left">
      {{ product.featured_image | image_url: width: '150' | image_tag }}
      <h2>
        {{ product.title }}
      </h2>
    </div>
    {% if current_variant.inventory_management %}
      {% assign first_inventory = current_variant.inventory_quantity %}

      {% if first_inventory > 0 %}
        <input
          data-btn-addToCart
          type="submit"
          name="add"
          class="btn"
          {% if settings.enable_multilang %}
            data-translate="products.product.add_to_cart"
          {% endif %}
          id="sticky-product-add-to-cart"
          value="{{ 'products.product.add_to_cart' | t }}"
          data-form-id="#add-to-cart-form"
        >
      {% else %}
        <input
          data-btn-addToCart
          type="submit"
          name="add"
          class="btn"
          {% if settings.enable_multilang %}
            data-translate="products.product.pre_order"
          {% endif %}
          id="sticky-product-add-to-cart"
          value="{{ 'products.product.pre_order' | t }}"
          data-form-id="#add-to-cart-form"
        >
      {% endif %}

    {% else %}
      <button
        data-btn-addToCart
        type="submit"
        name="add"
        class="btn"
        {% if settings.enable_multilang %}
          data-translate="products.product.add_to_cart"
        {% endif %}
        id="sticky-product-add-to-cart"
        data-form-id="#add-to-cart-form"
      >
        {{ 'products.product.add_to_cart' | t -}}
        <span>&bull;</span> {{ product.price | money }}
      </button>
    {% endif %}
  </div>
</div>

<style>
  #smile-ui-lite-launcher-frame-container {
    bottom: 20px;
    transition: bottom 0.3s ease-in-out;
  }
  #smile-ui-lite-launcher-frame-container.shift-up {
    bottom: 90px !important;
  }
</style>

<script defer>
  function stickyAddToCart() {
    const stickyAddToCart = $('.sticky-add-to-cart-group');
    const productAddToCart = $('#product-add-to-cart');
    const productAddToCartOffset = productAddToCart.offset().top + 100;
    // Move smile-ui up when active
    const smileUI = $('#smile-ui-lite-launcher-frame-container');

    // Check if smileUI is on the page
    if (!smileUI.length) {
      checkSmileUI();
    }

    $(window).on('scroll', function () {
      if (window.pageYOffset > productAddToCartOffset) {
        stickyAddToCart.addClass('show').slideDown();
        shiftSmileUI();
      } else {
        stickyAddToCart.removeClass('show').slideUp();
        shiftSmileUI();
      }
    });
  }

  // Checks if smileUI is on the page every 100ms for 5 seconds
  function checkSmileUI() {
    let counter = 0;
    const interval = setInterval(function () {
      const smileUI = $('#smile-ui-lite-launcher-frame-container');
      if (smileUI.length) {
        clearInterval(interval);
        shiftSmileUI();
      } else if (counter >= 50) {
        clearInterval(interval);
      }
      counter++;
    }, 100);
  }

  function shiftSmileUI() {
    const smileUI = $('#smile-ui-lite-launcher-frame-container');
    const stickyAddToCart = $('.sticky-add-to-cart-group');

    if (stickyAddToCart.hasClass('show')) {
      smileUI.addClass('shift-up');
    } else {
      smileUI.removeClass('shift-up');
    }
  }

  $(document).ready(function () {
    stickyAddToCart();
  });
</script>
