<div class="add-to-cart-group">
  <div class="quantity">
    <label
      for="quantity"
      {% if settings.enable_multilang %}
        data-translate="cart.label.quantity"
      {% endif %}
    >
      {{ 'cart.label.quantity' | t }}:
    </label>
    <div class="qty-group">
      <a
        href="#"
        data-minus-qtt
        class="minus button padding-horizontal-1 border-left-0 border-top-0 border-bottom-0"
      ></a>
      <input type="text" data-qtt-id="quantity__{{ product.id }}" name="quantity" value="1">
      <a
        href="#"
        data-plus-qtt
        class="plus button padding-horizontal-1  border-right-0 border-top-0 border-bottom-0"
      ></a>
    </div>
  </div>

  {% if current_variant.inventory_management %}
    {% assign first_inventory = current_variant.inventory_quantity %}

    {% if first_inventory > 0 %}
      <input
        data-btn-addToCart
        type="submit"
        name="add"
        class="btn"
        {% if settings.enable_multilang %}
          data-translate="products.product.add_to_cart"
        {% endif %}
        id="product-add-to-cart"
        value="{{ 'products.product.add_to_cart' | t }}"
        data-form-id="#add-to-cart-form"
      >
    {% else %}
      <input
        data-btn-addToCart
        type="submit"
        name="add"
        class="btn"
        {% if settings.enable_multilang %}
          data-translate="products.product.pre_order"
        {% endif %}
        id="product-add-to-cart"
        value="{{ 'products.product.pre_order' | t }}"
        data-form-id="#add-to-cart-form"
      >
    {% endif %}
  {% else %}
    <input
      data-btn-addToCart
      type="submit"
      name="add"
      class="btn"
      {% if settings.enable_multilang %}
        data-translate="products.product.add_to_cart"
      {% endif %}
      id="product-add-to-cart"
      value="{{ 'products.product.add_to_cart' | t }}"
      data-form-id="#add-to-cart-form"
    >
  {% endif %}
</div>

{% render 'new-sticky-add-to-cart' %}

{% if section.settings.display_subtotal and current_variant.available %}
  <div class="total-price">
    <label
      {% if settings.enable_multilang %}
        data-translate="cart.general.subtotal"
      {% endif %}
    >
      {{ 'cart.general.subtotal' | t }}:
    </label>
    <span class="total-money">
      {{ current_variant.price | money }}
    </span>
  </div>
{% endif %}

{% if settings.enable_checkbox %}
  <div class="groups-btn">
    {% render 'wishlist-product' %}
    <div class="checkbox-group">
      <input class="conditions" type="checkbox" name="conditions">
      <label>{% render 'multilang' with settings.checkbox_text %}</label>
    </div>
    <div class="btn-checkout show">
      {% if section.settings.enable_payment_button and current_variant.available %}
        {{ form | payment_button }}
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="groups-btn">
    {%- comment -%}
      {% if first_inventory > 0 %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{%endif%} id="product-add-to-cart" value="{{ 'products.product.pre_order' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}
      {% else %}
      <input data-btn-addToCart type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{%endif%} id="product-add-to-cart" value="{{ 'products.product.add_to_cart' | t }}" data-form-id="#add-to-cart-form">
      {% endif %}

      {% else %}
      <input type="submit" name="add" class="btn" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{%endif%} id="product-add-to-cart" disabled value="{{ 'products.product.unavailable' | t }}" >
      {% endif %}
    {%- endcomment -%}
    {% render 'wishlist-product' %}

    {% if section.settings.enable_payment_button and current_variant.available %}
      {{ form | payment_button }}
    {% endif %}
  </div>
{% endif %}
