{% liquid 
    assign s = section.settings
    assign highlighter = s.highlighter
    assign banner_content = s.banner_content
    assign background_color = s.background_color
    assign background_img = s.background_img
    %}
    <style>
        #shopify-section-{{ section.id }} .display-text{
            background-color: {{background_color}};
            {% if background_img != blank %}
            background-image: url("{{ background_img | img_url:'master' }}");
            {% endif %}
        } 
    </style>
<section class="display-text bg-bronze-2">
    <div class="container">
        <h2 class="display-1">
            {% if highlighter != blank %}
            <span class="text-bronze-1">{{ highlighter }} </span><br>
            {% endif %}
            {% if banner_content != blank %}
            <p class="text-uppercase font-karla">
            {{ banner_content }}
            </p>
            {% endif %}
        </h2>
    </div>
</section>
{% schema %}
{
    "name": "Banner",
    "class": "start-here-banner-section",
    "settings": [
        {
            "type": "text",
            "id": "highlighter",
            "label": "Highlighted text",
            "default": "Highlighted text goes here"
        },
        {
            "type": "textarea",
            "id": "banner_content",
            "label": "Banner content",
            "default": "Your banner content goes here"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color"
        },
        {
            "type": "image_picker",
            "id": "background_img",
            "label": "background image"
        }
    ]
}
{% endschema %}