<div class="page-header">
  <div class="container">
    <div class="inner">
      <h2>
        {% render 'multilang' with page.title %}
      </h2>
      {% render 'multilang-block' with section.settings.page_description, class: 'page-description' %}
    </div>
  </div>
</div>
<div class="container">
  {% render 'breadcrumb' %}
  {% if section.settings.display_filter %}
    <div class="pfl-filter">
      {% assign filter_list = section.settings.filter_list | split: ';' %}
      <ul class="filter-list">
        <li class="item active">
          <a href="#" data-filter="all">All</a>
        </li>
        {% for item in filter_list %}
          <li class="item">
            <a href="#" data-filter="{{item | downcase | strip}}">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="pfl-content">
    <div class="row shuffle-container">
      {% for block in section.blocks %}
        <div class="pfl-item col-12 col-sm-6" data-groups='["{{block.settings.categories | downcase | split:';' | join:'","'}}"]'>
          <div class="pfl-inner">
            <a
              href="{{ block.settings.link_to }}"
              class="pfl-thumb"
              data-gallery='
              {%- for i in (1..10) -%}
                {%- capture imageGallery %}image_{{ i }}{% endcapture -%}
                {%- if block.settings[imageGallery] != blank -%}
                  {%- unless forloop.first -%},{%- endunless -%}
                  {{ block.settings[imageGallery] | img_url: 'master' }}
                {%- endif -%}
              {%- endfor -%}'>
              {% if block.settings.thumbernail != blank %}
                <img src="{{block.settings.thumbernail | img_url:'800x800'}}" alt="{{block.settings.title}}">
              {% else %}
                <div class="not_img">
                  300 x 400 px
                </div>
              {% endif %}
              <div class="gallery-box"></div>
            </a>
            <div class="pfl-text">
              <h3>
                <a href="{{block.settings.link_to}}">{% render 'multilang' with block.settings.title %}</a>
              </h3>
              <p>{% render 'multilang' with block.settings.subtitle %}</p>
            </div>
            <i class="fa fa-search-plus d-none" aria-hidden="true"></i>
          </div>
        </div>
      {% endfor %}
      <div class="pfl-item col col-sm-6 sizer-element"></div>
    </div>
  </div>
</div>
<style>


  .pfl-item {
    padding-top: 15px;
    padding-bottom: 15px
  }
  .pfl-item i {
    color: {{ section.settings.text_color}}
    ;
    font-size: 22px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .pfl-text {
    visibility: visible !important;
    opacity: 0.9 !important;
  }

  .pfl-text h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  .pfl-text h3 a {
    color: inherit;
    position: relative;
    letter-spacing: 0 !important;
  }
  @media(max-width:767.98px) {
    .pfl-text p {
      color: #637175;
    }
  }


 