{% paginate collection.products by 1000 %}
  {% case section.settings.collection_results_per_row %}
    {% when '1' %}
    {%- assign grid_item_width = 'col-12' -%}
    {%- assign rows = 'products-list' -%}
    {% when '2' %}
    {%- assign grid_item_width = 'col-6' -%}
    {%- assign rows = 'products-grid' -%}
    {% when '3' %}
    {%- assign grid_item_width = 'col-6 col-md-4' -%}
    {%- assign rows = 'products-grid' -%}
    {% when '4' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
    {%- assign rows = 'products-grid' -%}
    {% when '5' %}
    {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
    {%- assign rows = 'products-grid' -%}
  {% endcase %}
  {% capture productCards %}
    {% for product in collection.products %}
      {% assign _tags = "" %}
      {% assign tags_size = _tags | size %}

      {% assign filter_titles = "" %}
      {% for tag in product.tags %}
        {% if tag contains '/' %}
          {% assign _tag = tag | split: '/' | last | handleize %}
          {% assign _filterTitle = tag | split: '/' | first %}
          {% if forloop.index == 1 %}
            {% assign _tags = _tag %}
            {% assign filter_titles = _filterTitle %}
          {% else %}
            {% assign _tags = _tags | append: ',' | append: _tag %}
            {% assign filter_titles = filter_titles | append: ',' | append: _filterTitle %}
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="grid-item product-loop {{ grid_item_width }} {% if settings.product_image_border %}grid-item-border {% endif %}">
        {% render 'product-grid-item-2' with product as product, _tags: _tags, filter_titles: filter_titles %}
      </div>

      {% assign allTags = allTags | append: product.tags %}
      {% assign _allTags = allTags | uniq | sort %}
      {% assign _filter_titles = _filter_titles | append: ',' | append: filter_titles %}
    {% endfor %}
    {% render 'paginate' %}
  {% endcapture %}
{% endpaginate %}

{% if cart.attributes.pagination != blank and cart.attributes.pagination %}
  {% assign product_per_page = cart.attributes.pagination %}
{% else %}
  {% assign product_per_page = section.settings.collection_results_per_page %}
{% endif %}

{% case section.settings.collection_results_per_row %}
  {% when '1' %}
  {%- assign grid_item_width = 'col-12' -%}
  {%- assign rows = 'products-list' -%}
  {% when '2' %}
  {%- assign grid_item_width = 'col-6' -%}
  {%- assign rows = 'products-grid' -%}
  {% when '3' %}
  {%- assign grid_item_width = 'col-6 col-md-4' -%}
  {%- assign rows = 'products-grid' -%}
  {% when '4' %}
  {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
  {%- assign rows = 'products-grid' -%}
  {% when '5' %}
  {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col5' -%}
  {%- assign rows = 'products-grid' -%}
{% endcase %}
<div
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
  data-product-show="{{ product_per_page }}">
  {% render 'toolbar' %}
  <div class="row {% if collection.handle contains 'ikea-highchair-cushion-covers' %} collection-cushion-covers {% endif %}">
    {% if collection.handle contains 'ikea-highchair-cushion-covers' %}
      <div class="grid-item col-md-3">
        <div class="sidebar-wrapper sidebar-filter">
          <div class="sidebar__header d-md-none">
            <button class="close-filter btn bg-transparent border-0 text-uppercase font-acumin">
              CLose Filters
              <span class="icon-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19.956"
                  height="19.956"
                  viewBox="0 0 19.956 19.956">
                  <g
                    id="Group_84"
                    data-name="Group 84"
                    transform="translate(0.354 0.354)">
                    <line
                      id="Line_2"
                      data-name="Line 2"
                      x2="19.249"
                      y2="19.249"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1"></line>
                    <line
                      id="Line_3"
                      data-name="Line 3"
                      x1="19.249"
                      y2="19.249"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1"></line>
                  </g>
                </svg>
              </span>
            </button>
          </div>
          {% comment %} {% render 'left-sidebar' %} {% endcomment %}
          {% assign color_bgs = settings.color_rgbs | split: '||' %}
          <div class="mat-color-wrapper sidebar-tags d-none d-md-block">
            <h5>View All Covers with this Placemat Color</h5>
            <select id="mat-colorPicker">
              <option value="0, 0, 0, 0" selected>Select Your Color</option>
              {% assign background_rgb = '' %}
              {% for rbg in color_bgs %}
                {% assign rgb_color = rbg | split: '/' | first %}
                {% assign rbg_val = rbg | split: '/' | last %}
                {% assign background_rgb = rbg_val %}
                <option value="{{ background_rgb }}" data-colorss="{{ rgb_color | replace: '-', ' ' }}">{{ rgb_color | replace: '-', ' ' }}</option>
              {% endfor %}
            </select>
          </div>
          <div id="accordion">
            {% assign title_flag = "" %}
            {% for tag in collection.tags %}
              {% if tag contains '/' %}
                {% assign _filterTitle = tag | split: '/' | first %}
                {% if title_flag contains _filterTitle %}
                  {% else %}
                    {% assign title_flag = title_flag | append: ',' | append: _filterTitle %}
                {% endif %}
              {% endif %}
            {% endfor %}
            {% assign titles = title_flag | split: ',' | sort: 'decending' %}
            {% for title in titles %}
              {% unless title == '' %}
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5>
                      <button
                        class="btn btn-link collapsed"
                        data-toggle="collapse"
                        data-target="#collapse_{{ forloop.index }}__{{title | handleize}}"
                        aria-expanded="false"
                        aria-controls="collapse_{{ forloop.index }}__{{title | handleize}}">
                        {% if title == 'Color' %}
                          {{ 'Recommendations by Placemat Color' }}
                        {% else %}
                          {{ title }}
                        {% endif %}
                      </button>
                    </h5>
                  </div>

                  <div
                    id="collapse_{{ forloop.index }}__{{title | handleize}}"
                    class="collapse"
                    aria-labelledby="headingOne">
                    <div class="card-body">
                      <div
                        class='themes-wrapper sidebar-tags
                        {% if title == 'Color' %}
                          color-filter
                        {% endif %}'>
                        <div class="widget-content">
                          <div class="scroll-content">

                            <ul {% if title != 'Color' %}class="list-tags"{% endif %}>
                              {% assign collection_tags = collection.tags | sort | uniq %}
                              {% for tag in collection_tags %}
                                {% unless tag == '' %}
                                  {% if tag contains title %}
                                    <li>
                                      {% assign _tag = tag | split: '/' | last %}
                                      {% comment %} {% assign file_axtention = '.png' %} {% endcomment %}
                                      {% comment %} {% assign file_name = _tag | append: file_axtention %} {% endcomment %}
                                      {% comment %} {% assign file = file_name | file_url %} {% endcomment %}
                                      {% assign background_rgb = '' %}
                                        {% for rbg in color_bgs %}
                                        {% assign rgb_color = rbg | split: '/' | first | handleize %}
                                        {% assign rbg_val = rbg | split: '/' | last %}
                                        {% assign filter_color = _tag | handleize %}
                                        {% assign swatchImage = rgb_color | handleize | append: ".jpg" %}
                                          {% if rgb_color == filter_color %}
                                          {% assign background_rgb = rbg_val %}
                                        {% break %}
                                      {% endif %}
                                      {% endfor %}
                                      <input
                                        type="checkbox"
                                        data-type="{{ title }}"
                                        {% if title == 'Color' %}
                                        data-rgb="{{background_rgb}}"
                                        {% endif %}
                                        name="tags"
                                        id="checkbox_{{ forloop.index }}__{{ tag }}"
                                        value="{{ _tag | handleize }}"
                                        class="filterInput d-none"> <label
                                        title="{{ _tag }}"
                                        for="checkbox_{{ forloop.index }}__{{ tag }}"
                                        {% if title == 'Color' %}
                                        style="background-color: rgba({{ background_rgb }}) ; background-image:url({{swatchImage | file_img_url :'master'}}) !important; color:transparent; background-size: cover;"
                                        {% endif %}>
                                        {% unless title == 'Color' %}
                                          {{ _tag | capitalize }}

                                        {% endunless %}
                                      </label>
                                    </li>
                                  {% endif %}
                                {% endunless %}

                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endunless %}
            {% endfor %}
          </div>
          <div class="btn-wrapper text-center d-md-none mt-5">
            <a href="#" class="btn button btn-apply">
              Apply
            </a>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="grid-item {% unless collection.handle contains 'ikea-highchair-cushion-covers' %} col-md-12 {% else %} col-md-9{% endunless %}">
      <div id="products-container" class="product-collection {{ rows }} row">
        {% if collection.products_count > 0 %}
          {{ productCards }}
        {% else %}
          <p class="col-12 text-center" {% if settings.enable_multilang %}data-translate="collections.general.no_matches"{% endif %}>
            {{ 'collections.general.no_matches' | t }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- <div class="padding">
    {% render 'pagination-page' paginate: paginate %}
  </div> --></div>
{% schema %}
  {
    "name": "Custom Collection",
    "class": "col-custom-sidebar",
    "settings": [
      {
        "type": "paragraph",
        "content": "Filters Sidebar is based on tags. Please add tags to products having prefix, labeled title of the filter block, following '/' and then tag label i.e. 'Themes/Burbery' "
      },
      {
        "type": "checkbox",
        "id": "limited_view",
        "label": "Enable Limited View",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "view_as_enable",
        "label": "Enable View As",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      }, {
        "type": "select",
        "id": "collection_results_per_row",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "1",
            "label": "List"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }, {
            "value": "5",
            "label": "5"
          }
        ]
      }, {
        "type": "select",
        "id": "collection_results_per_page",
        "label": "Products per page",
        "default": "16",
        "options": [
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "24",
            "label": "24"
          }, {
            "value": "30",
            "label": "30"
          }, {
            "value": "50",
            "label": "50"
          }
        ]
      }
    ]
  }
{% endschema %}