<div class="page-header">
  <div class="container">
    <div class="inner">
      <h2>
        {% render 'multilang' with page.title %}
      </h2>
      {% render 'multilang-block' with section.settings.page_description, class: 'page-description' %}
    </div>
  </div>
</div>
<div class="container">
  {% render 'breadcrumb' %}
  {% if section.settings.display_filter %}
    <div class="pfl-filter">
      {% assign filter_list = section.settings.filter_list | split: ';' %}
      <ul class="filter-list">
        <li class="item active">
          <a href="#" data-filter="all">All</a>
        </li>
        {% for item in filter_list %}
          <li class="item">
            <a href="#" data-filter="{{item | downcase | strip}}">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="pfl-content">
    <div class="row shuffle-container">
      {% for block in section.blocks %}
        <div class="pfl-item col-12 col-sm-6" data-groups='["{{block.settings.categories | downcase | split:';' | join:'","'}}"]'>
          <div class="pfl-inner">
            <a
              href="{{ block.settings.link_to }}"
              class="pfl-thumb"
              data-gallery='
              {%- for i in (1..10) -%}
                {%- capture imageGallery %}image_{{ i }}{% endcapture -%}
                {%- if block.settings[imageGallery] != blank -%}
                  {%- unless forloop.first -%},{%- endunless -%}
                  {{ block.settings[imageGallery] | img_url: 'master' }}
                {%- endif -%}
              {%- endfor -%}'>
              {% if block.settings.thumbernail != blank %}
                <img src="{{block.settings.thumbernail | img_url:'800x800'}}" alt="{{block.settings.title}}">
              {% else %}
                <div class="not_img">
                  300 x 400 px
                </div>
              {% endif %}
              <div class="gallery-box"></div>
            </a>
            <div class="pfl-text">
              <h3>
                <a href="{{block.settings.link_to}}">{% render 'multilang' with block.settings.title %}</a>
              </h3>
              <p>{% render 'multilang' with block.settings.subtitle %}</p>
            </div>
            <i class="fa fa-search-plus d-none" aria-hidden="true"></i>
          </div>
        </div>
      {% endfor %}
      <div class="pfl-item col col-sm-6 sizer-element"></div>
    </div>
  </div>
</div>
<style>


  .pfl-item {
    padding-top: 15px;
    padding-bottom: 15px
  }
  .pfl-item i {
    color: {{ section.settings.text_color}}
    ;
    font-size: 22px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .pfl-text {
    visibility: visible !important;
    opacity: 0.9 !important;
  }

  .pfl-text h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  .pfl-text h3 a {
    color: inherit;
    position: relative;
    letter-spacing: 0 !important;
  }
  @media(max-width:767.98px) {
    .pfl-text p {
      color: #637175;
    }
  }





{% schema %}
  {
    "name": "Portfolio Page",
    "class": "pfl-wrapper pfl-1-tmpl",
    "settings": [
      {
        "type": "header",
        "content": "Page Heading"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "header_text_color",
        "label": "Text Color"
      },
      {
        "type": "textarea",
        "id": "page_description",
        "label": "Page Description"
      }, {
        "type": "header",
        "content": "Filter"
      }, {
        "type": "checkbox",
        "id": "display_filter",
        "label": "Display Categories Filter",
        "default": true
      }, {
        "type": "textarea",
        "id": "filter_list",
        "label": "List All Categories Here",
        "info": "Use\";\" to separate each category"
      }, {
        "type": "header",
        "content": "Style"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Layer Background Color",
        "default": "#232323"
      }, {
        "type": "text",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "default": "0.7",
        "info": "From 0 to 1"
      }
    ],
    "blocks": [
      {
        "name": "portfolio Gallery",
        "type": "images",
        "settings": [
          {
            "type": "text",
            "id": "categories",
            "label": "Categories"
          },
          {
            "type": "image_picker",
            "id": "thumbernail",
            "label": "Thumbernail"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Habitasse Molateas"
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Dosuere an morci lobortis scelerisque blandit cosmopolis."
          }, {
            "type": "url",
            "id": "link_to",
            "label": "Link To",
            "default": "/collections/all"
          }, {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          }, {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          }, {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          }, {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          }, {
            "type": "image_picker",
            "id": "image_5",
            "label": "Image 5"
          }, {
            "type": "image_picker",
            "id": "image_6",
            "label": "Image 6"
          }, {
            "type": "image_picker",
            "id": "image_7",
            "label": "Image 7"
          }, {
            "type": "image_picker",
            "id": "image_8",
            "label": "Image 8"
          }, {
            "type": "image_picker",
            "id": "image_9",
            "label": "Image 9"
          }, {
            "type": "image_picker",
            "id": "image_10",
            "label": "Image 10"
          }
        ]
      }
    ]
  }
{% endschema %}