
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-629496368989209136.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-629496368989209136.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-629496368989209136.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-629496368989209136.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-629496368989209136.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-629496368989209136.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-629496368989209136.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-629496368989209136.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-629496368989209136.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-629496368989209136.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-629496368989209136.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-629496368989209136.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-629496368989209136.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-629496368989209136.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-629496368989209136.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-629496368989209136.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-629496368989209136.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-629496368989209136.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-629496368989209136.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-629496368989209136.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-629496368989209136.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-629496368989209136.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-629496368989209136.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-629496368989209136.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-629496368989209136.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-629496368989209136.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-629496368989209136.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-629496368989209136.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-629496368989209136.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-629496368989209136.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-629496368989209136.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-629496368989209136.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-629496368989209136.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-629496368989209136.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-629496368989209136.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-629496368989209136.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-629496368989209136.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-629496368989209136.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-629496368989209136.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-629496368989209136.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-629496368989209136.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-629496368989209136.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-629496368989209136.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-629496368989209136.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-629496368989209136.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-629496368989209136.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-629496368989209136.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-629496368989209136.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-629496368989209136.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-629496368989209136.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-629496368989209136.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-629496368989209136.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-629496368989209136.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-629496368989209136.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-629496368989209136.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-629496368989209136.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-629496368989209136.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-629496368989209136.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-629496368989209136.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-629496368989209136.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-629496368989209136.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-629496368989209136.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-629496368989209136.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-629496368989209136.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-629496368989209136.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-629496368989209136.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-629496368989209136.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-629496368989209136.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-629496368989209136.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-629496368989209136.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-629496368989209136.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-629496368989209136.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-629496368989209136.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-629496368989209136.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-629496368989209136.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-629496368989209136.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-629496368989209136.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-629496368989209136.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-629496368989209136.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-629496368989209136.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-629496368989209136.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-629496368989209136.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-629496368989209136.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-629496368989209136.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-629496368989209136.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-629496368989209136.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-629496368989209136.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-629496368989209136.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-629496368989209136.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-629496368989209136 .gp-relative{position:relative}.gps-629496368989209136 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-629496368989209136 .gp-mb-0{margin-bottom:0}.gps-629496368989209136 .gp-inline-block{display:inline-block}.gps-629496368989209136 .gp-flex{display:flex}.gps-629496368989209136 .gp-inline-flex{display:inline-flex}.gps-629496368989209136 .gp-grid{display:grid}.gps-629496368989209136 .gp-contents{display:contents}.gps-629496368989209136 .\!gp-hidden{display:none!important}.gps-629496368989209136 .gp-hidden{display:none}.gps-629496368989209136 .gp-h-auto{height:auto}.gps-629496368989209136 .gp-h-full{height:100%}.gps-629496368989209136 .gp-w-full{width:100%}.gps-629496368989209136 .gp-max-w-full{max-width:100%}.gps-629496368989209136 .gp-flex-none{flex:none}.gps-629496368989209136 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-629496368989209136 .gp-flex-col{flex-direction:column}.gps-629496368989209136 .gp-items-center{align-items:center}.gps-629496368989209136 .gp-justify-center{justify-content:center}.gps-629496368989209136 .gp-overflow-hidden{overflow:hidden}.gps-629496368989209136 .gp-break-words{overflow-wrap:break-word}.gps-629496368989209136 .gp-no-underline{text-decoration-line:none}.gps-629496368989209136 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-629496368989209136 .gp-duration-200{transition-duration:.2s}.gps-629496368989209136 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-629496368989209136 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-629496368989209136 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-629496368989209136 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-629496368989209136 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-629496368989209136 .tablet\:\!gp-hidden{display:none!important}.gps-629496368989209136 .tablet\:gp-hidden{display:none}.gps-629496368989209136 .tablet\:gp-h-auto{height:auto}.gps-629496368989209136 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-629496368989209136 .mobile\:\!gp-hidden{display:none!important}.gps-629496368989209136 .mobile\:gp-hidden{display:none}.gps-629496368989209136 .mobile\:gp-h-auto{height:auto}.gps-629496368989209136 .mobile\:gp-flex-none{flex:none}}.gps-629496368989209136 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-629496368989209136 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5pI0dOoxg"}' data-id="g5pI0dOoxg" id="g5pI0dOoxg" data-same-height-subgrid-container class="g5pI0dOoxg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvYGnxUlan gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F3F3F3","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gy-BJGBhGr"}' data-id="gy-BJGBhGr" id="gy-BJGBhGr" data-same-height-subgrid-container class="gy-BJGBhGr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F3F3F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:0"
      class="gCTuRuIFyH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkimCY8wzR"}' data-id="gkimCY8wzR" id="gkimCY8wzR" data-same-height-subgrid-container class="gkimCY8wzR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMLNiQ5eR- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ge6BSXHj-H"
      style="--bs:solid;--bw:0px 1px 1px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738674995 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ge6BSXHj-H"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" srcset="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" srcset="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" />
    
      
      <img
        base-src="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}" data-src="{{ section.settings.gge6BSXHj-H_srcSet_desktop_src_1042770638 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ge6BSXHj-H">
        .ge6BSXHj-H {

}
.ge6BSXHj-H > figure > img {

}
      </style>
    
    <div
      role="presentation"
      data-id="g1DKebYZxz"
      style="--bs:solid;--bw:0px 1px 1px 0px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738674996 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1DKebYZxz"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" srcset="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" srcset="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" />
    
      
      <img
        base-src="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}" data-src="{{ section.settings.gg1DKebYZxz_srcSet_desktop_src_1865847378 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g1DKebYZxz">
        .g1DKebYZxz {

}
.g1DKebYZxz > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ghpNdcHZvF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g3k9sbcqL2"
      style="--bs:solid;--bw:0px 0px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738674997 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3k9sbcqL2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" srcset="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" srcset="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" />
    
      
      <img
        base-src="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}" data-src="{{ section.settings.gg3k9sbcqL2_srcSet_desktop_src_-1941952231 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g3k9sbcqL2">
        .g3k9sbcqL2 {

}
.g3k9sbcqL2 > figure > img {

}
      </style>
    
    <div
      role="presentation"
      data-id="gnxcwaxdoG"
      style="--bs:solid;--bw:0px 0px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738674997 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gnxcwaxdoG"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" srcset="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" srcset="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" />
    
      
      <img
        base-src="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}" data-src="{{ section.settings.ggnxcwaxdoG_srcSet_desktop_src_1137080744 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gnxcwaxdoG">
        .gnxcwaxdoG {

}
.gnxcwaxdoG > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:1"
      class="gFyrikRVvL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gb5VP0SyOy"}' data-id="gb5VP0SyOy" id="gb5VP0SyOy" data-same-height-subgrid-container class="gb5VP0SyOy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:32px;--pl:15px;--pb:32px;--pr:15px;--mr-mobile:auto;--pt-mobile:28px;--pl-mobile:15px;--pb-mobile:71px;--pr-mobile:15px;--ml-tablet:1px;--mr-tablet:auto;--pt-tablet:32px;--pl-tablet:15px;--pb-tablet:32px;--cg:8px;--gtc:minmax(0, 12fr);--w:688px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYYvlKVrgG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIFU-gZyx1"
        class="gIFU-gZyx1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:13px;--size-tablet:12px;--size-mobile:12px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;--c:#3B302E;--tt:uppercase;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          <p>{{ section.settings.ggIFU-gZyx1_text_-869037462 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRSMkvEtyq"
        class="gRSMkvEtyq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:48px;--size-tablet:48px;--size-mobile:33px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;--tt:none;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggRSMkvEtyq_text_-1120243095 | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPz9fWOVop"
        class="gPz9fWOVop"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          <p>{{ section.settings.ggPz9fWOVop_text_1118118651 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-mobile:10px;--ta:center" >
        <style>[data-id="gR9fWdWbsK"].gp-button-base::before, [data-id="gR9fWdWbsK-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #575757;
  
    
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
  
    }
  
      
  [data-id="gR9fWdWbsK"]:hover::before, [data-id="gR9fWdWbsK-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gR9fWdWbsK" dataId="gR9fWdWbsK" data-state="idle" aria-label="Shop Now"
          
          type="button"
          style="--w:370px;--w-tablet:370px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--hvr-bg:#FF9A7E;--bg:#FF6941;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none"
          class="gR9fWdWbsK gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggR9fWdWbsK_label_-258938739 }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJRop_7iTA"
        class="gJRop_7iTA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          <p>{{ section.settings.ggJRop_7iTA_text_-1385499017 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-tablet:2"
      class="g1j-xYjXv6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g2EGgLSg3m"
      style="--bs:solid;--bw:0px 0px 1px 1px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738675008 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g2EGgLSg3m"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" srcset="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" srcset="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" />
    
      
      <img
        base-src="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}" data-src="{{ section.settings.gg2EGgLSg3m_srcSet_desktop_src_-1941952231 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g2EGgLSg3m">
        .g2EGgLSg3m {

}
.g2EGgLSg3m > figure > img {

}
      </style>
    
    <div
      role="presentation"
      data-id="gR9wL6xDXU"
      style="--bs:solid;--bw:0px 0px 0px 1px;--bc:#E0E0E0;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1784738675008 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gR9wL6xDXU"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" srcset="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" srcset="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" />
    
      
      <img
        base-src="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" quality-type="{}" quality-percent="{}"
        src="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}" data-src="{{ section.settings.ggR9wL6xDXU_srcSet_desktop_src_1137080744 }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gR9wL6xDXU">
        .gR9wL6xDXU {

}
.gR9wL6xDXU > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Home Page Hero - Sale" }],
    "name": "Home Page Hero - Sale",
    "tag": "section",
    "class": "gps-629496368989209136 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=629496368989209136)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gge6BSXHj-H_srcSet_desktop_src_1042770638","label":"gge6BSXHj-H_srcSet_desktop_src_1042770638","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-95ec00c3-5dcf-47ab-926e-587c9c6815b4.png?v=1717153889"},{"type":"html","id":"gg1DKebYZxz_srcSet_desktop_src_1865847378","label":"gg1DKebYZxz_srcSet_desktop_src_1865847378","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-2b261c18-163f-44bd-847d-b2fd824fb4f8.png?v=1717153899"},{"type":"html","id":"gg3k9sbcqL2_srcSet_desktop_src_-1941952231","label":"gg3k9sbcqL2_srcSet_desktop_src_-1941952231","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-7225bc27-ab8e-4afa-83d6-19081bcbc6a4.png?v=1717153921"},{"type":"html","id":"ggnxcwaxdoG_srcSet_desktop_src_1137080744","label":"ggnxcwaxdoG_srcSet_desktop_src_1137080744","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-4a7e422d-6fd7-42af-831d-f258ffbf2d2b.png?v=1717153910"},{"type":"html","id":"ggIFU-gZyx1_text_-869037462","label":"ggIFU-gZyx1_text_-869037462","default":"Limited time only"},{"type":"html","id":"ggRSMkvEtyq_text_-1120243095","label":"ggRSMkvEtyq_text_-1120243095","default":"Exclusive Shoe Deals"},{"type":"html","id":"ggPz9fWOVop_text_1118118651","label":"ggPz9fWOVop_text_1118118651","default":"Enjoy a hefty 30% discount on a range of stylish footwear options!"},{"type":"html","id":"ggR9fWdWbsK_label_-258938739","label":"ggR9fWdWbsK_label_-258938739","default":"Shop Now"},{"type":"html","id":"ggJRop_7iTA_text_-1385499017","label":"ggJRop_7iTA_text_-1385499017","default":"Last chance! Sale ends July 31st."},{"type":"html","id":"gg2EGgLSg3m_srcSet_desktop_src_-1941952231","label":"gg2EGgLSg3m_srcSet_desktop_src_-1941952231","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-7225bc27-ab8e-4afa-83d6-19081bcbc6a4.png?v=1717153921"},{"type":"html","id":"ggR9wL6xDXU_srcSet_desktop_src_1137080744","label":"ggR9wL6xDXU_srcSet_desktop_src_1137080744","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-4a7e422d-6fd7-42af-831d-f258ffbf2d2b.png?v=1717153910"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}