
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-629491783457309636.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-629491783457309636.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-629491783457309636.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-629491783457309636.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-629491783457309636.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-629491783457309636.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-629491783457309636.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-629491783457309636.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-629491783457309636.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-629491783457309636.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-629491783457309636.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-629491783457309636.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-629491783457309636.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-629491783457309636.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-629491783457309636.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-629491783457309636.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-629491783457309636.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-629491783457309636.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-629491783457309636.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-629491783457309636.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-629491783457309636.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-629491783457309636.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-629491783457309636.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-629491783457309636.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-629491783457309636.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-629491783457309636.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-629491783457309636.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-629491783457309636.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-629491783457309636.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-629491783457309636.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-629491783457309636.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-629491783457309636.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-629491783457309636.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-629491783457309636.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-629491783457309636.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-629491783457309636.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-629491783457309636.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-629491783457309636.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-629491783457309636.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-629491783457309636.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-629491783457309636.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-629491783457309636.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-629491783457309636.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-629491783457309636.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-629491783457309636.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-629491783457309636.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-629491783457309636.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-629491783457309636.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-629491783457309636.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-629491783457309636.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-629491783457309636.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-629491783457309636.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-629491783457309636.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-629491783457309636.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-629491783457309636.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-629491783457309636.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-629491783457309636.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-629491783457309636.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-629491783457309636.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-629491783457309636.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-629491783457309636.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-629491783457309636.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-629491783457309636.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-629491783457309636.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-629491783457309636.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-629491783457309636.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-629491783457309636.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-629491783457309636.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-629491783457309636.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-629491783457309636.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-629491783457309636.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-629491783457309636.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-629491783457309636.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-629491783457309636.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-629491783457309636.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-629491783457309636.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-629491783457309636.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-629491783457309636.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-629491783457309636.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-629491783457309636.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-629491783457309636.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-629491783457309636.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-629491783457309636.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-629491783457309636.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-629491783457309636.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-629491783457309636.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-629491783457309636 .gp-invisible{visibility:hidden}.gps-629491783457309636 .gp-absolute{position:absolute}.gps-629491783457309636 .gp-relative{position:relative}.gps-629491783457309636 .gp-top-0{top:0}.gps-629491783457309636 .-gp-z-1{z-index:-1}.gps-629491783457309636 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-629491783457309636 .gp-mb-0{margin-bottom:0}.gps-629491783457309636 .gp-flex{display:flex}.gps-629491783457309636 .gp-inline-flex{display:inline-flex}.gps-629491783457309636 .gp-grid{display:grid}.gps-629491783457309636 .\!gp-hidden{display:none!important}.gps-629491783457309636 .gp-hidden{display:none}.gps-629491783457309636 .gp-h-full{height:100%}.gps-629491783457309636 .gp-w-full{width:100%}.gps-629491783457309636 .gp-max-w-full{max-width:100%}.gps-629491783457309636 .gp-cursor-pointer{cursor:pointer}.gps-629491783457309636 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-629491783457309636 .gp-flex-col{flex-direction:column}.gps-629491783457309636 .\!gp-content-stretch{align-content:stretch!important}.gps-629491783457309636 .gp-items-center{align-items:center}.gps-629491783457309636 .gp-justify-end{justify-content:flex-end}.gps-629491783457309636 .gp-justify-center{justify-content:center}.gps-629491783457309636 .\!gp-self-center{align-self:center!important}.gps-629491783457309636 .gp-self-center{align-self:center}.gps-629491783457309636 .gp-overflow-hidden{overflow:hidden}.gps-629491783457309636 .gp-break-words{overflow-wrap:break-word}.gps-629491783457309636 .gp-text-center{text-align:center}.gps-629491783457309636 .gp-no-underline{text-decoration-line:none}.gps-629491783457309636 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-629491783457309636 .gp-duration-200{transition-duration:.2s}.gps-629491783457309636 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-629491783457309636 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-629491783457309636 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-629491783457309636 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-629491783457309636 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-629491783457309636 .tablet\:\!gp-relative{position:relative!important}.gps-629491783457309636 .tablet\:\!gp-hidden{display:none!important}.gps-629491783457309636 .tablet\:gp-hidden{display:none}.gps-629491783457309636 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-629491783457309636 .tablet\:gp-justify-end{justify-content:flex-end}.gps-629491783457309636 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-629491783457309636 .mobile\:\!gp-relative{position:relative!important}.gps-629491783457309636 .mobile\:\!gp-hidden{display:none!important}.gps-629491783457309636 .mobile\:gp-hidden{display:none}.gps-629491783457309636 .mobile\:\!gp-h-auto{height:auto!important}.gps-629491783457309636 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-629491783457309636 .mobile\:gp-justify-end{justify-content:flex-end}.gps-629491783457309636 .mobile\:\!gp-self-center{align-self:center!important}}.gps-629491783457309636 .\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}@media (max-width:1024px){.gps-629491783457309636 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-629491783457309636 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-629491783457309636 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-629491783457309636 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FCFAF5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g9D_awcTmw"}' data-id="g9D_awcTmw" id="g9D_awcTmw" data-same-height-subgrid-container class="g9D_awcTmw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:20px;--pb:var(--g-s-4xl);--pr:20px;--pt-mobile:50px;--pl-mobile:20px;--pb-mobile:50px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFAF5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gn5HKEt08i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEBblucbg9"
        class="gEBblucbg9"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#35404F;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          {{ section.settings.ggEBblucbg9_text_1122070728 | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtxo72S_cy"
        class="gtxo72S_cy"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#35404F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
          <p>{{ section.settings.ggtxo72S_cy_text_-1480412090 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grr7vjfofO"}' data-id="grr7vjfofO" id="grr7vjfofO" data-same-height-subgrid-container class="grr7vjfofO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:24px;--cg-mobile:20px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcGsYFcUrG gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gOCE3iBKsW"
        class="gOCE3iBKsW gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:21px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }}","width":1504,"height":2400,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-b50d4dec-2726-4ff6-83d9-34cc1204a6a6.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_432750572815254551-648deeb6-abdf-463e-9c21-41854cfdca8a.webp","height":1800,"src":"{{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }}","storage":"FILE_CONTENT","width":1128},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggOCE3iBKsW_background_tablet_video_-1560504240 }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }}","width":1504,"height":2400,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-b50d4dec-2726-4ff6-83d9-34cc1204a6a6.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"gOCE3iBKsW","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false,"enableVideoShape":false},"tablet":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"158/250","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"158/250","width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/eating-out-essentials","linkType":"open-page","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
        
          <div
            data-hero-banner-link="true" aria-label="Hero banner link"
            aria-hidden="true"
            class="gp-cursor-pointer gp-h-full"
          >
            
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }});--bgi-tablet:url({{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }});--bgi-mobile:url({{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 0%;--bgp-tablet:50% 0%;--bgp-mobile:50% 0%;--bgs:contain;--bgs-tablet:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pr:20px;--pt:32px;--pb:32px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:20px;--pb-tablet:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzPyDRaRok gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="grYXoYCudM"].gp-button-base::before, [data-id="grYXoYCudM-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #3B302E;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="grYXoYCudM"]:hover::before, [data-id="grYXoYCudM-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="grYXoYCudM" dataId="grYXoYCudM" data-state="idle" aria-label="<p>RESTAURANT KITS</p>"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:19px;--pr:19px;--pt:14px;--pb:14px;--pl-tablet:19px;--pr-tablet:19px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:10px;--pb-mobile:10px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:#3B302E;--bg:#F5E6C4;--hvr-c:#FCFAF5;--c:#3B302E;--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase"
          class="grYXoYCudM gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      <p>{{ section.settings.ggrYXoYCudM_label_327307032 }}</p>
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }}" srcset="{{ section.settings.ggOCE3iBKsW_background_mobile_image_src_-551001691 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }}" srcset="{{ section.settings.ggOCE3iBKsW_background_tablet_image_src_1520030773 }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }}" data-src="{{ section.settings.ggOCE3iBKsW_background_desktop_image_src_-551001691 }}"
        alt=""
        width="100%"
        style="--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

          </div>
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="glhap9DdJ- gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gzMF29Dmb8"
        class="gzMF29Dmb8 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:21px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }}","width":3198,"height":5103,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-b5733962-de27-47aa-a725-f75e7fc9c252.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_432750572815254551-bdddfd2b-8f29-4f73-81ca-2eeabd227aa5.webp","height":1800,"src":"{{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }}","storage":"FILE_CONTENT","width":1128},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggzMF29Dmb8_background_tablet_video_-1560504240 }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }}","width":3198,"height":5103,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-b5733962-de27-47aa-a725-f75e7fc9c252.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"gzMF29Dmb8","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false,"enableVideoShape":false},"tablet":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"158/250","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"158/250","width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"https://www.yeahbabygoods.com/pages/ikea-highchair-accessories","linkType":"open-page","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
        
          <div
            data-hero-banner-link="true" aria-label="Hero banner link"
            aria-hidden="true"
            class="gp-cursor-pointer gp-h-full"
          >
            
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }});--bgi-tablet:url({{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }});--bgi-mobile:url({{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 0%;--bgp-tablet:50% 0%;--bgp-mobile:50% 0%;--bgs:contain;--bgs-tablet:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pr:20px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gf4azYrsBX gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gIl24H3ioE"].gp-button-base::before, [data-id="gIl24H3ioE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #3B302E;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gIl24H3ioE"]:hover::before, [data-id="gIl24H3ioE-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gIl24H3ioE" dataId="gIl24H3ioE" data-state="idle" aria-label="<p>IKEA HIGHCHAIR ACCESSORIES</p>"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:19px;--pr:19px;--pt:14px;--pb:14px;--pl-tablet:19px;--pr-tablet:19px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:10px;--pb-mobile:10px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:#3B302E;--bg:#F5E6C4;--hvr-c:#FCFAF5;--c:#3B302E;--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase"
          class="gIl24H3ioE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      <p>{{ section.settings.ggIl24H3ioE_label_1822072768 }}</p>
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }}" srcset="{{ section.settings.ggzMF29Dmb8_background_mobile_image_src_1696411447 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }}" srcset="{{ section.settings.ggzMF29Dmb8_background_tablet_image_src_-40885918 }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }}" data-src="{{ section.settings.ggzMF29Dmb8_background_desktop_image_src_1696411447 }}"
        alt=""
        width="100%"
        style="--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

          </div>
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gVwnmyTqED gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gnuL2oWWF3"
        class="gnuL2oWWF3 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }}","width":3384,"height":5400,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-dff88e5c-3043-4844-ae09-bee3701e6d49.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_432750572815254551-f08d4e0c-9c2a-4e4f-95df-5eea18e72abe.webp","height":1800,"src":"{{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }}","storage":"FILE_CONTENT","width":1128},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggnuL2oWWF3_background_tablet_video_-1560504240 }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }}","width":3384,"height":5400,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-dff88e5c-3043-4844-ae09-bee3701e6d49.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"gnuL2oWWF3","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false,"enableVideoShape":false},"tablet":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"158/250","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"158/250","width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"https://www.yeahbabygoods.com/collections/dinnerware","linkType":"open-page","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
        
          <div
            data-hero-banner-link="true" aria-label="Hero banner link"
            aria-hidden="true"
            class="gp-cursor-pointer gp-h-full"
          >
            
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }});--bgi-tablet:url({{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }});--bgi-mobile:url({{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 0%;--bgp-tablet:50% 0%;--bgp-mobile:50% 0%;--bgs:contain;--bgs-tablet:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pr:20px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g6Y7oatOfq gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gCspqeao44"].gp-button-base::before, [data-id="gCspqeao44-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #3B302E;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gCspqeao44"]:hover::before, [data-id="gCspqeao44-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gCspqeao44" dataId="gCspqeao44" data-state="idle" aria-label="<p>TABLEWARE</p>"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:19px;--pr:19px;--pt:14px;--pb:14px;--pl-tablet:19px;--pr-tablet:19px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:10px;--pb-mobile:10px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:#3B302E;--bg:#F5E6C4;--hvr-c:#FCFAF5;--c:#3B302E;--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase"
          class="gCspqeao44 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      <p>{{ section.settings.ggCspqeao44_label_-1104878084 }}</p>
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }}" srcset="{{ section.settings.ggnuL2oWWF3_background_mobile_image_src_-1183227084 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }}" srcset="{{ section.settings.ggnuL2oWWF3_background_tablet_image_src_-1640441838 }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }}" data-src="{{ section.settings.ggnuL2oWWF3_background_desktop_image_src_-1183227084 }}"
        alt=""
        width="100%"
        style="--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

          </div>
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gJOVjdg5uY gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="ggChTTXGPc"
        class="ggChTTXGPc gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }}","width":3181,"height":5075,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-390e647a-7f8e-4c7c-807d-316bafe87090.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_432750572815254551-6cdbabf0-846b-49fd-9819-450a12fa1fb2.webp","height":1800,"src":"{{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }}","storage":"FILE_CONTENT","width":1128},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.gggChTTXGPc_background_tablet_video_-1560504240 }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }}","width":1506,"height":2402,"storage":"FILE_CONTENT","backupFileKey":"gempages_605284330960323482-08a310bb-c60b-44cc-82c8-68f98e0dd9a5.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":0},"repeat":"no-repeat","size":"contain","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"ggChTTXGPc","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false,"enableVideoShape":false},"tablet":{"customShapeValue":"282/450","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"282/450","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"158/250","gap":"","height":"","shape":"custom","shapeLinked":true,"shapeValue":"158/250","width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"https://www.yeahbabygoods.com/collections/floor-mats","linkType":"open-page","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
        
          <div
            data-hero-banner-link="true" aria-label="Hero banner link"
            aria-hidden="true"
            class="gp-cursor-pointer gp-h-full"
          >
            
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }});--bgi-tablet:url({{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }});--bgi-mobile:url({{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 0%;--bgp-tablet:50% 0%;--bgp-mobile:50% 0%;--bgs:contain;--bgs-tablet:cover;--bgs-mobile:contain;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }}" isNotLazyload="true" srcset base-src="{{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }}" isNotLazyload="true" srcset base-src="{{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }}" isNotLazyload="true" srcset base-src="{{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:20px;--pr:20px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:20px;--pr-mobile:20px;--pt-mobile:20px;--pb-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwI_w3hg4R gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gUez2sSbg9"].gp-button-base::before, [data-id="gUez2sSbg9-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gUez2sSbg9"]:hover::before, [data-id="gUez2sSbg9-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gUez2sSbg9" dataId="gUez2sSbg9" data-state="idle" aria-label="<p>SPLAT MATS</p>"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:19px;--pr:19px;--pt:14px;--pb:14px;--pl-tablet:19px;--pr-tablet:19px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:10px;--pb-mobile:10px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--hvr-bg:#3B302E;--bg:#F5E6C4;--hvr-c:#FCFAF5;--c:#3B302E;--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase"
          class="gUez2sSbg9 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:500;--size:13px;--size-tablet:13px;--size-mobile:10px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      <p>{{ section.settings.ggUez2sSbg9_label_1039673288 }}</p>
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }}" srcset="{{ section.settings.gggChTTXGPc_background_mobile_image_src_1250850758 }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }}" srcset="{{ section.settings.gggChTTXGPc_background_tablet_image_src_-536473306 }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }}" data-src="{{ section.settings.gggChTTXGPc_background_desktop_image_src_1689065452 }}"
        alt=""
        width="100%"
        style="--aspect:282/450;--aspect-tablet:282/450;--aspect-mobile:158/250;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

          </div>
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "Prodcuct Collections 1" }],
    "name": "Prodcuct Collections 1",
    "tag": "section",
    "class": "gps-629491783457309636 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=629491783457309636)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEBblucbg9_text_1122070728","label":"ggEBblucbg9_text_1122070728","default":"Shop By Collection"},{"type":"html","id":"ggtxo72S_cy_text_-1480412090","label":"ggtxo72S_cy_text_-1480412090","default":"Products that invite peace and joy to the table"},{"type":"html","id":"ggOCE3iBKsW_background_desktop_image_src_-551001691","label":"ggOCE3iBKsW_background_desktop_image_src_-551001691","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Restaurant_Bags2.jpg"},{"type":"html","id":"ggOCE3iBKsW_background_tablet_image_src_1520030773","label":"ggOCE3iBKsW_background_tablet_image_src_1520030773","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-648deeb6-abdf-463e-9c21-41854cfdca8a.webp"},{"type":"html","id":"ggOCE3iBKsW_background_tablet_video_-1560504240","label":"ggOCE3iBKsW_background_tablet_video_-1560504240","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggOCE3iBKsW_background_tablet_videoHtml5_-1555583689","label":"ggOCE3iBKsW_background_tablet_videoHtml5_-1555583689","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggOCE3iBKsW_background_mobile_image_src_-551001691","label":"ggOCE3iBKsW_background_mobile_image_src_-551001691","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Restaurant_Bags2.jpg"},{"type":"html","id":"ggrYXoYCudM_label_327307032","label":"ggrYXoYCudM_label_327307032","default":"RESTAURANT KITS"},{"type":"html","id":"ggzMF29Dmb8_background_desktop_image_src_1696411447","label":"ggzMF29Dmb8_background_desktop_image_src_1696411447","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_IKEA_Highchair2.jpg"},{"type":"html","id":"ggzMF29Dmb8_background_tablet_image_src_-40885918","label":"ggzMF29Dmb8_background_tablet_image_src_-40885918","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-bdddfd2b-8f29-4f73-81ca-2eeabd227aa5.webp"},{"type":"html","id":"ggzMF29Dmb8_background_tablet_video_-1560504240","label":"ggzMF29Dmb8_background_tablet_video_-1560504240","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggzMF29Dmb8_background_tablet_videoHtml5_-1555583689","label":"ggzMF29Dmb8_background_tablet_videoHtml5_-1555583689","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggzMF29Dmb8_background_mobile_image_src_1696411447","label":"ggzMF29Dmb8_background_mobile_image_src_1696411447","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_IKEA_Highchair2.jpg"},{"type":"html","id":"ggIl24H3ioE_label_1822072768","label":"ggIl24H3ioE_label_1822072768","default":"IKEA HIGHCHAIR ACCESSORIES"},{"type":"html","id":"ggnuL2oWWF3_background_desktop_image_src_-1183227084","label":"ggnuL2oWWF3_background_desktop_image_src_-1183227084","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Dinnerware2.jpg"},{"type":"html","id":"ggnuL2oWWF3_background_tablet_image_src_-1640441838","label":"ggnuL2oWWF3_background_tablet_image_src_-1640441838","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-f08d4e0c-9c2a-4e4f-95df-5eea18e72abe.webp"},{"type":"html","id":"ggnuL2oWWF3_background_tablet_video_-1560504240","label":"ggnuL2oWWF3_background_tablet_video_-1560504240","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggnuL2oWWF3_background_tablet_videoHtml5_-1555583689","label":"ggnuL2oWWF3_background_tablet_videoHtml5_-1555583689","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggnuL2oWWF3_background_mobile_image_src_-1183227084","label":"ggnuL2oWWF3_background_mobile_image_src_-1183227084","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Dinnerware2.jpg"},{"type":"html","id":"ggCspqeao44_label_-1104878084","label":"ggCspqeao44_label_-1104878084","default":"TABLEWARE"},{"type":"html","id":"gggChTTXGPc_background_desktop_image_src_1689065452","label":"gggChTTXGPc_background_desktop_image_src_1689065452","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Splat_Mats2.jpg"},{"type":"html","id":"gggChTTXGPc_background_tablet_image_src_-536473306","label":"gggChTTXGPc_background_tablet_image_src_-536473306","default":"https://cdn.shopify.com/s/files/1/2005/9307/files/gempages_432750572815254551-6cdbabf0-846b-49fd-9819-450a12fa1fb2.webp"},{"type":"html","id":"gggChTTXGPc_background_tablet_video_-1560504240","label":"gggChTTXGPc_background_tablet_video_-1560504240","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gggChTTXGPc_background_tablet_videoHtml5_-1555583689","label":"gggChTTXGPc_background_tablet_videoHtml5_-1555583689","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"gggChTTXGPc_background_mobile_image_src_1250850758","label":"gggChTTXGPc_background_mobile_image_src_1250850758","default":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Collection_Splat_Mats_5e66f22a-811a-44db-b757-8dd09943c168.jpg"},{"type":"html","id":"ggUez2sSbg9_label_1039673288","label":"ggUez2sSbg9_label_1039673288","default":"SPLAT MATS"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}