
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605291775094948407.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-605291775094948407.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-605291775094948407.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605291775094948407.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605291775094948407.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605291775094948407.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605291775094948407.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605291775094948407.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605291775094948407.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605291775094948407.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605291775094948407.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605291775094948407.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605291775094948407.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605291775094948407.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605291775094948407.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-605291775094948407.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-605291775094948407.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605291775094948407.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605291775094948407.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605291775094948407.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605291775094948407.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605291775094948407.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605291775094948407.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605291775094948407.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605291775094948407.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-605291775094948407.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-605291775094948407.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-605291775094948407.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-605291775094948407.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605291775094948407.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605291775094948407.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605291775094948407.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-605291775094948407.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-605291775094948407.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-605291775094948407.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-605291775094948407.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-605291775094948407.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-605291775094948407.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-605291775094948407.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-605291775094948407.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-605291775094948407.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-605291775094948407.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-605291775094948407.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-605291775094948407.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605291775094948407.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605291775094948407.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605291775094948407.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605291775094948407.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605291775094948407.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605291775094948407.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605291775094948407.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605291775094948407.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605291775094948407.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605291775094948407.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-605291775094948407.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-605291775094948407.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605291775094948407.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-605291775094948407.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-605291775094948407.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-605291775094948407.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605291775094948407.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-605291775094948407.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-605291775094948407.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-605291775094948407.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-605291775094948407.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-605291775094948407.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-605291775094948407.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-605291775094948407.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-605291775094948407.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-605291775094948407.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605291775094948407.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605291775094948407.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-605291775094948407.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-605291775094948407.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-605291775094948407.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-605291775094948407.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-605291775094948407.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605291775094948407.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-605291775094948407.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-605291775094948407.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-605291775094948407.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-605291775094948407.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-605291775094948407.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-605291775094948407.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-605291775094948407.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-605291775094948407.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-605291775094948407.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605291775094948407.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605291775094948407.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-605291775094948407.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-605291775094948407.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-605291775094948407 .\!gp-relative{position:relative!important}.gps-605291775094948407 .gp-relative{position:relative}.gps-605291775094948407 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605291775094948407 .gp-mb-0{margin-bottom:0}.gps-605291775094948407 .gp-inline-block{display:inline-block}.gps-605291775094948407 .gp-flex{display:flex}.gps-605291775094948407 .gp-inline-flex{display:inline-flex}.gps-605291775094948407 .gp-grid{display:grid}.gps-605291775094948407 .\!gp-hidden{display:none!important}.gps-605291775094948407 .gp-hidden{display:none}.gps-605291775094948407 .gp-h-auto{height:auto}.gps-605291775094948407 .gp-h-full{height:100%}.gps-605291775094948407 .gp-w-\[0\.01px\]{width:.01px}.gps-605291775094948407 .gp-w-full{width:100%}.gps-605291775094948407 .gp-max-w-full{max-width:100%}.gps-605291775094948407 .gp-flex-none{flex:none}.gps-605291775094948407 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605291775094948407 .gp-flex-col{flex-direction:column}.gps-605291775094948407 .gp-items-center{align-items:center}.gps-605291775094948407 .gp-overflow-hidden{overflow:hidden}.gps-605291775094948407 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605291775094948407 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605291775094948407 .gp-duration-200{transition-duration:.2s}.gps-605291775094948407 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-605291775094948407 .tablet\:\!gp-hidden{display:none!important}.gps-605291775094948407 .tablet\:gp-hidden{display:none}.gps-605291775094948407 .tablet\:gp-h-auto{height:auto}.gps-605291775094948407 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-605291775094948407 .mobile\:\!gp-hidden{display:none!important}.gps-605291775094948407 .mobile\:gp-hidden{display:none}.gps-605291775094948407 .mobile\:gp-h-auto{height:auto}.gps-605291775094948407 .mobile\:gp-flex-none{flex:none}}.gps-605291775094948407 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6PljDkIvF"}' data-id="g6PljDkIvF" id="g6PljDkIvF" data-same-height-subgrid-container class="g6PljDkIvF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:40px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA-iKa3OLQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gJ9tcabbRN"}' data-id="gJ9tcabbRN" id="gJ9tcabbRN" data-same-height-subgrid-container class="gJ9tcabbRN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCqQ97J2eP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsrcQSZf4Z"
        class="gsrcQSZf4Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsrcQSZf4Z_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="g2U1h0V9os" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4","Item 5"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"20px\" width=\"20px\" data-name=\"dot-outline-filled\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817731477569896\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"BASE_ON_NUMBER_OF_ITEMS","mobile":"CUSTOM","tablet":"BASE_ON_NUMBER_OF_ITEMS"},"speed":"0.3","stopOnHover":true,"uid":"g2U1h0V9os"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"transparent"},"iconSeparatorColor":"text-2","iconSeparatorSize":{"desktop":16},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"150px","tablet":"300px"},"itemSpacing":{"desktop":"60px","mobile":"20px"},"sizeSetting":{"desktop":{"height":"Auto","shapeLinked":false,"width":"100%"}}}}'
   class="g2U1h0V9os">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:80%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full g2U1h0V9os">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 5);--w-tablet:calc(100% / 5);--w-mobile:150px;--minw:calc(100% / 5);--minw-tablet:calc(100% / 5);--minw-mobile:150px;--maxw:calc(100% / 5);--maxw-tablet:calc(100% / 5);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  ggckHUGXks gem-marquee-item-ggckHUGXks"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gU4CVtPZ_O"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770739509962 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gU4CVtPZ_O"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="2560" height="599" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "Elle_Decor_logo_svg.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Elle_Decor_logo_svg.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:2560/599;--aspect-tablet:2560/599;--aspect-mobile:2560/599;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 5);--w-tablet:calc(100% / 5);--w-mobile:150px;--minw:calc(100% / 5);--minw-tablet:calc(100% / 5);--minw-mobile:150px;--maxw:calc(100% / 5);--maxw-tablet:calc(100% / 5);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gqjVA3vlT5 gem-marquee-item-gqjVA3vlT5"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gHn5-YVyla"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770739509963 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gHn5-YVyla"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1543" height="409" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "VOGUE_LOGO.svg" | file_url }}" isNotLazyload="true" srcset base-src="{{ "VOGUE_LOGO.svg" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:1543/409;--aspect-tablet:1543/409;--aspect-mobile:1543/409;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 5);--w-tablet:calc(100% / 5);--w-mobile:150px;--minw:calc(100% / 5);--minw-tablet:calc(100% / 5);--minw-mobile:150px;--maxw:calc(100% / 5);--maxw-tablet:calc(100% / 5);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gtE2q0tp1D gem-marquee-item-gtE2q0tp1D"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gXbSfk1y9h"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770739509963 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXbSfk1y9h"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="500" height="281" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "Good-Housekeeping-Logo-500x281.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Good-Housekeeping-Logo-500x281.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:500/281;--aspect-tablet:500/281;--aspect-mobile:500/281;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 5);--w-tablet:calc(100% / 5);--w-mobile:150px;--minw:calc(100% / 5);--minw-tablet:calc(100% / 5);--minw-mobile:150px;--maxw:calc(100% / 5);--maxw-tablet:calc(100% / 5);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g8TebRxEuU gem-marquee-item-g8TebRxEuU"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="g2p-M3OMVg"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770739509963 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g2p-M3OMVg"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1642" height="417" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "png-apartment-therapy-house-studio-apartment-home.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "png-apartment-therapy-house-studio-apartment-home.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:1642/417;--aspect-tablet:1642/417;--aspect-mobile:1642/417;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all gp-w-full"
                     style="--pr:60px;--pr-tablet:60px;--pr-mobile:20px;text-wrap:wrap;--w:calc(100% / 5);--w-tablet:calc(100% / 5);--w-mobile:150px;--minw:calc(100% / 5);--minw-tablet:calc(100% / 5);--minw-mobile:150px;--maxw:calc(100% / 5);--maxw-tablet:calc(100% / 5);--maxw-mobile:150px">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gUUcgrchxd gem-marquee-item-gUUcgrchxd"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gwoSjGg_dt"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--ta:center"
      class="gp-group/image gp-relative force-publish-1770739509964 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwoSjGg_dt"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="2560" height="427" draggable="false" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}" data-sizes="auto" sizes="100vw" src="{{ "Healthline_logo_svg.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Healthline_logo_svg.png" | file_url }}" loading="lazy"
      id=""
      style="--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none;--aspect:2560/427;--aspect-tablet:2560/427;--aspect-mobile:2560/427;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--minw:100%;--minw-tablet:100%;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-605291775094948407 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=605291764927955542&sectionId=605291775094948407)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggsrcQSZf4Z_text","label":"ggsrcQSZf4Z_text","default":"Recognized for redefining restful living"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}