
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606020064495666074.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-606020064495666074.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606020064495666074.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606020064495666074.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-606020064495666074.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606020064495666074.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606020064495666074.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606020064495666074.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606020064495666074.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-606020064495666074.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-606020064495666074.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606020064495666074.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-606020064495666074.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-606020064495666074.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606020064495666074.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606020064495666074.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606020064495666074.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-606020064495666074.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606020064495666074.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-606020064495666074.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606020064495666074.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-606020064495666074.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606020064495666074.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606020064495666074.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606020064495666074.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606020064495666074.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606020064495666074.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606020064495666074.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606020064495666074.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606020064495666074.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606020064495666074.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606020064495666074.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606020064495666074.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606020064495666074.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606020064495666074.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606020064495666074.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606020064495666074.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606020064495666074.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606020064495666074.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606020064495666074.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606020064495666074.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606020064495666074.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606020064495666074.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606020064495666074.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606020064495666074.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606020064495666074.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606020064495666074.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606020064495666074.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606020064495666074.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606020064495666074.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606020064495666074.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606020064495666074.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606020064495666074.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606020064495666074.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606020064495666074.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606020064495666074.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606020064495666074.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606020064495666074.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606020064495666074.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606020064495666074.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606020064495666074.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606020064495666074.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606020064495666074.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-606020064495666074.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606020064495666074.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606020064495666074.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606020064495666074.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606020064495666074.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606020064495666074.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606020064495666074 .gp-relative{position:relative}.gps-606020064495666074 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606020064495666074 .gp-mb-0{margin-bottom:0}.gps-606020064495666074 .gp-flex{display:flex}.gps-606020064495666074 .gp-inline-flex{display:inline-flex}.gps-606020064495666074 .gp-grid{display:grid}.gps-606020064495666074 .\!gp-hidden{display:none!important}.gps-606020064495666074 .gp-hidden{display:none}.gps-606020064495666074 .gp-h-full{height:100%}.gps-606020064495666074 .gp-max-w-full{max-width:100%}.gps-606020064495666074 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606020064495666074 .gp-flex-col{flex-direction:column}.gps-606020064495666074 .gp-items-center{align-items:center}.gps-606020064495666074 .gp-justify-center{justify-content:center}.gps-606020064495666074 .gp-overflow-hidden{overflow:hidden}.gps-606020064495666074 .gp-break-words{overflow-wrap:break-word}.gps-606020064495666074 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-606020064495666074 .gp-no-underline{text-decoration-line:none}.gps-606020064495666074 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064495666074 .gp-duration-200{transition-duration:.2s}.gps-606020064495666074 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064495666074 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-606020064495666074 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-606020064495666074 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-606020064495666074 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-606020064495666074 .tablet\:\!gp-hidden{display:none!important}.gps-606020064495666074 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606020064495666074 .mobile\:\!gp-hidden{display:none!important}.gps-606020064495666074 .mobile\:gp-hidden{display:none}}.gps-606020064495666074 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-606020064495666074 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZmFh2sy_B"}' data-id="gZmFh2sy_B" id="gZmFh2sy_B" data-same-height-subgrid-container class="gZmFh2sy_B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:15px;--pb:48px;--pr:15px;--pt-mobile:70px;--pl-mobile:15px;--pb-mobile:42px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsgHxynPse gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVTRn2atI-"}' data-id="gVTRn2atI-" id="gVTRn2atI-" data-same-height-subgrid-container class="gVTRn2atI- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQzNR9wxHU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvC_-Ya1Wy"}' data-id="gvC_-Ya1Wy" id="gvC_-Ya1Wy" data-same-height-subgrid-container class="gvC_-Ya1Wy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pr:48px;--mb-mobile:14px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJqXdbrW4j gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVGtL-rQ4E"
        class="gVGtL-rQ4E"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:48px;--size-tablet:48px;--size-mobile:42px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVGtL-rQ4E_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFhxWMrywm"
        class="gFhxWMrywm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFhxWMrywm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gFhxWMrywm">
        .gFhxWMrywm {

}
.gFhxWMrywm p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggJ4bNhN1a"
        class="ggJ4bNhN1a"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggJ4bNhN1a_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggJ4bNhN1a">
        .ggJ4bNhN1a {

}
.ggJ4bNhN1a p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtjr9V5Cw2"
        class="gtjr9V5Cw2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtjr9V5Cw2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gtjr9V5Cw2">
        .gtjr9V5Cw2 {

}
.gtjr9V5Cw2 p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--ta:center" >
        <style>[data-id="ggze_11oeF"].gp-button-base::before, [data-id="ggze_11oeF-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="ggze_11oeF"]:hover::before, [data-id="ggze_11oeF-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="ggze_11oeF" dataId="ggze_11oeF" data-state="idle" aria-label="Shop - Button"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#575757;--bg:#242424;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="ggze_11oeF gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gggze_11oeF_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-ggze_11oeF">
        button.ggze_11oeF {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gL9lNetT2f gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 23",
    "tag": "section",
    "class": "gps-606020064495666074 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=606020063857738650&sectionId=606020064495666074)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggVGtL-rQ4E_text","label":"ggVGtL-rQ4E_text","default":"The standard Lorem Ipsum passage"},{"type":"html","id":"ggFhxWMrywm_text","label":"ggFhxWMrywm_text","default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p><p>&nbsp;</p><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p><p>&nbsp;</p><p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>"},{"type":"html","id":"gggJ4bNhN1a_text","label":"gggJ4bNhN1a_text","default":"<p>Danny grannick</p>"},{"type":"html","id":"ggtjr9V5Cw2_text","label":"ggtjr9V5Cw2_text","default":"<p>CEO &amp; Co-founder</p>"},{"type":"html","id":"gggze_11oeF_label","label":"gggze_11oeF_label","default":"Shop - Button"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}