
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606020064497107866.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606020064497107866.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606020064497107866.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606020064497107866.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606020064497107866.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606020064497107866.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606020064497107866.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606020064497107866.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606020064497107866.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606020064497107866.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606020064497107866.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606020064497107866.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606020064497107866.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-606020064497107866.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606020064497107866.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606020064497107866.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606020064497107866.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606020064497107866.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606020064497107866.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606020064497107866.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606020064497107866.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606020064497107866.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606020064497107866.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606020064497107866.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606020064497107866.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606020064497107866.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606020064497107866.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606020064497107866.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606020064497107866.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606020064497107866.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606020064497107866.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606020064497107866.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606020064497107866.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606020064497107866.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606020064497107866.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606020064497107866.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606020064497107866.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606020064497107866.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606020064497107866.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606020064497107866.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606020064497107866.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606020064497107866.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606020064497107866.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606020064497107866.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-606020064497107866.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606020064497107866.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-606020064497107866.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-606020064497107866.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606020064497107866.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606020064497107866.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606020064497107866.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-606020064497107866.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606020064497107866.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606020064497107866.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-606020064497107866.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606020064497107866.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606020064497107866.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606020064497107866.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606020064497107866.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606020064497107866.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606020064497107866.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606020064497107866.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-606020064497107866.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-606020064497107866.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606020064497107866.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606020064497107866.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-606020064497107866.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606020064497107866.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606020064497107866.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606020064497107866.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-606020064497107866.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606020064497107866.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606020064497107866.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606020064497107866.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606020064497107866.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606020064497107866.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606020064497107866.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606020064497107866.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-606020064497107866.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-606020064497107866.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606020064497107866.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606020064497107866 .gp-relative{position:relative}.gps-606020064497107866 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606020064497107866 .gp-mb-0{margin-bottom:0}.gps-606020064497107866 .gp-flex{display:flex}.gps-606020064497107866 .gp-inline-flex{display:inline-flex}.gps-606020064497107866 .gp-grid{display:grid}.gps-606020064497107866 .\!gp-hidden{display:none!important}.gps-606020064497107866 .gp-hidden{display:none}.gps-606020064497107866 .gp-max-w-full{max-width:100%}.gps-606020064497107866 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606020064497107866 .gp-flex-col{flex-direction:column}.gps-606020064497107866 .gp-items-center{align-items:center}.gps-606020064497107866 .gp-justify-center{justify-content:center}.gps-606020064497107866 .gp-overflow-hidden{overflow:hidden}.gps-606020064497107866 .gp-leading-\[0\]{line-height:0}.gps-606020064497107866 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-606020064497107866 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064497107866 .gp-duration-200{transition-duration:.2s}.gps-606020064497107866 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064497107866 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-606020064497107866 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-606020064497107866 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-606020064497107866 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-606020064497107866 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-606020064497107866 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-606020064497107866 .after\:gp-text-black:after{content:var(--tw-content);--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity,1))}.gps-606020064497107866 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-606020064497107866 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-606020064497107866 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-606020064497107866 .tablet\:\!gp-hidden{display:none!important}.gps-606020064497107866 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606020064497107866 .mobile\:\!gp-hidden{display:none!important}.gps-606020064497107866 .mobile\:gp-hidden{display:none}}.gps-606020064497107866 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606020064497107866 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-606020064497107866 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606020064497107866 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606020064497107866 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZJ5pTg_hC"}' data-id="gZJ5pTg_hC" id="gZJ5pTg_hC" data-same-height-subgrid-container class="gZJ5pTg_hC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:80px;--pr:0px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--pt-tablet:80px;--pl-tablet:40px;--pb-tablet:80px;--pr-tablet:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyb0axPJFf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-iOdGSQ1z"
        class="g-iOdGSQ1z"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-iOdGSQ1z_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"g4BchzcYDF"}' data-id="g4BchzcYDF" id="g4BchzcYDF" data-same-height-subgrid-container class="g4BchzcYDF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1000px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbSvCyUpSr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gasThJa7vr"}' data-id="gasThJa7vr" id="gasThJa7vr" data-same-height-subgrid-container class="gasThJa7vr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSt7yMIq9H gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghMyfimzz2"
        class="ghMyfimzz2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gm59hb7R_a gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gj6u9VayRQ"}' data-id="gj6u9VayRQ" id="gj6u9VayRQ" data-same-height-subgrid-container class="gj6u9VayRQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:12px;--btrr:12px;--pt:24px;--pl:12px;--pb:12px;--pr:12px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:12px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKQhNp1e2Y gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3Hr59NNdk"
        class="g3Hr59NNdk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3Hr59NNdk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPvXViWR2h gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3SfVCdmuA"
        class="g3SfVCdmuA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:20px;--size-tablet:20px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3SfVCdmuA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g3Julw1dI7"}' data-id="g3Julw1dI7" id="g3Julw1dI7" data-same-height-subgrid-container class="g3Julw1dI7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(45, 52, 82, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-cMz5ocsM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gKgZychaQ9"}' data-id="gKgZychaQ9" id="gKgZychaQ9" data-same-height-subgrid-container class="gKgZychaQ9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCz78Q85yY gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g85faZ9aL9" class="gp-leading-[0] g85faZ9aL9" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="g85faZ9aL9" class="icon-wrapper gp-inline-flex gp-overflow-hidden g85faZ9aL9 " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="hugeicons_plant-01.svg" data-id="591051692510807017" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M18.0004 9.99962C18.0004 9.99962 12.0004 13.9996 12.0004 20.9996M9.34942 11.1826C8.55709 11.774 7.57827 12.0603 6.59213 11.989C5.606 11.9178 4.6785 11.4938 3.97942 10.7946C1.55542 8.37162 2.03942 3.03962 2.03942 3.03962C2.03942 3.03962 7.37242 2.55462 9.79542 4.97862C10.2517 5.43315 10.5946 5.98879 10.7961 6.60052C10.9976 7.21225 11.0522 7.86286 10.9554 8.49962" stroke="#2D3452" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14.964 12.8182C14.3257 12.1238 13.9805 11.2097 14.0004 10.2667C14.0203 9.32374 14.4039 8.42497 15.071 7.75821C17.225 5.60421 21.965 6.03521 21.965 6.03521C21.965 6.03521 22.395 10.7752 20.241 12.9292C19.8832 13.2876 19.4547 13.5677 18.9829 13.7516C18.511 13.9354 18.006 14.0191 17.5 13.9972M6 7.00021C6 7.00021 12 12.0002 12 21.0002" stroke="#2D3452" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gCQQ6pxPfi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glysUh8i__"
        class="glysUh8i__"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglysUh8i___text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPNu9bJnAt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpdbdqalCV"}' data-id="gpdbdqalCV" id="gpdbdqalCV" data-same-height-subgrid-container class="gpdbdqalCV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(244, 244, 244, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--pt-mobile:12px;--pl-mobile:6px;--pb-mobile:12px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goN3cSKSCk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOU0XSXawa"
        class="gOU0XSXawa"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOU0XSXawa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gaKid7Nm0U gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghg6m_neau"
        class="ghg6m_neau"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghg6m_neau_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gp8u0GogtT"}' data-id="gp8u0GogtT" id="gp8u0GogtT" data-same-height-subgrid-container class="gp8u0GogtT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(45, 52, 82, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzsP7ogtZT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gkhR0cbdCu"}' data-id="gkhR0cbdCu" id="gkhR0cbdCu" data-same-height-subgrid-container class="gkhR0cbdCu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--mb-mobile:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gbky6sKmk8 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gABy7uRJDI" class="gp-leading-[0] gABy7uRJDI" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gABy7uRJDI" class="icon-wrapper gp-inline-flex gp-overflow-hidden gABy7uRJDI " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="lucide-lab_cloth.svg" data-id="591051917627490827" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M2.99995 4.99995C2.86813 5.13099 2.76351 5.2868 2.69212 5.45842C2.62074 5.63004 2.58398 5.81408 2.58398 5.99995C2.58398 6.18583 2.62074 6.36987 2.69212 6.54148C2.76351 6.7131 2.86813 6.86891 2.99995 6.99995L3.99995 7.99995C4.13178 8.13099 4.23639 8.2868 4.30778 8.45842C4.37917 8.63004 4.41592 8.81408 4.41592 8.99995C4.41592 9.18583 4.37917 9.36987 4.30778 9.54148C4.23639 9.7131 4.13178 9.86891 3.99995 9.99995L2.99995 11C2.86813 11.131 2.76351 11.2868 2.69212 11.4584C2.62074 11.63 2.58398 11.8141 2.58398 12C2.58398 12.1858 2.62074 12.3699 2.69212 12.5415C2.76351 12.7131 2.86813 12.8689 2.99995 13L3.99995 14C4.13178 14.131 4.23639 14.2868 4.30778 14.4584C4.37917 14.63 4.41592 14.8141 4.41592 15C4.41592 15.1858 4.37917 15.3699 4.30778 15.5415C4.23639 15.7131 4.13178 15.8689 3.99995 16L2.99995 17C2.86813 17.131 2.76351 17.2868 2.69212 17.4584C2.62074 17.63 2.58398 17.8141 2.58398 18C2.58398 18.1858 2.62074 18.3699 2.69212 18.5415C2.76351 18.7131 2.86813 18.8689 2.99995 19L4.99995 21C5.13099 21.1318 5.2868 21.2364 5.45842 21.3078C5.63004 21.3792 5.81408 21.4159 5.99995 21.4159C6.18583 21.4159 6.36987 21.3792 6.54148 21.3078C6.7131 21.2364 6.86891 21.1318 6.99995 21L7.99995 20C8.13099 19.8681 8.2868 19.7635 8.45842 19.6921C8.63004 19.6207 8.81408 19.584 8.99995 19.584C9.18583 19.584 9.36987 19.6207 9.54148 19.6921C9.7131 19.7635 9.86891 19.8681 9.99995 20L11 21C11.131 21.1318 11.2868 21.2364 11.4584 21.3078C11.63 21.3792 11.8141 21.4159 12 21.4159C12.1858 21.4159 12.3699 21.3792 12.5415 21.3078C12.7131 21.2364 12.8689 21.1318 13 21L14 20C14.131 19.8681 14.2868 19.7635 14.4584 19.6921C14.63 19.6207 14.8141 19.584 15 19.584C15.1858 19.584 15.3699 19.6207 15.5415 19.6921C15.7131 19.7635 15.8689 19.8681 16 20L17 21C17.131 21.1318 17.2868 21.2364 17.4584 21.3078C17.63 21.3792 17.8141 21.4159 18 21.4159C18.1858 21.4159 18.3699 21.3792 18.5415 21.3078C18.7131 21.2364 18.8689 21.1318 19 21L21 19C21.1318 18.8689 21.2364 18.7131 21.3078 18.5415C21.3792 18.3699 21.4159 18.1858 21.4159 18C21.4159 17.8141 21.3792 17.63 21.3078 17.4584C21.2364 17.2868 21.1318 17.131 21 17L20 16C19.8681 15.8689 19.7635 15.7131 19.6921 15.5415C19.6207 15.3699 19.584 15.1858 19.584 15C19.584 14.8141 19.6207 14.63 19.6921 14.4584C19.7635 14.2868 19.8681 14.131 20 14L21 13C21.1318 12.8689 21.2364 12.7131 21.3078 12.5415C21.3792 12.3699 21.4159 12.1858 21.4159 12C21.4159 11.8141 21.3792 11.63 21.3078 11.4584C21.2364 11.2868 21.1318 11.131 21 11L20 9.99995C19.8681 9.86891 19.7635 9.7131 19.6921 9.54148C19.6207 9.36987 19.584 9.18583 19.584 8.99995C19.584 8.81408 19.6207 8.63004 19.6921 8.45842C19.7635 8.2868 19.8681 8.13099 20 7.99995L21 6.99995C21.1318 6.86891 21.2364 6.7131 21.3078 6.54148C21.3792 6.36987 21.4159 6.18583 21.4159 5.99995C21.4159 5.81408 21.3792 5.63004 21.3078 5.45842C21.2364 5.2868 21.1318 5.13099 21 4.99995L19 2.99995C18.8689 2.86813 18.7131 2.76351 18.5415 2.69212C18.3699 2.62074 18.1858 2.58398 18 2.58398C17.8141 2.58398 17.63 2.62074 17.4584 2.69212C17.2868 2.76351 17.131 2.86813 17 2.99995L16 3.99995C15.8689 4.13178 15.7131 4.23639 15.5415 4.30778C15.3699 4.37917 15.1858 4.41592 15 4.41592C14.8141 4.41592 14.63 4.37917 14.4584 4.30778C14.2868 4.23639 14.131 4.13178 14 3.99995L13 2.99995C12.8689 2.86813 12.7131 2.76351 12.5415 2.69212C12.3699 2.62074 12.1858 2.58398 12 2.58398C11.8141 2.58398 11.63 2.62074 11.4584 2.69212C11.2868 2.76351 11.131 2.86813 11 2.99995L9.99995 3.99995C9.86891 4.13178 9.7131 4.23639 9.54148 4.30778C9.36987 4.37917 9.18583 4.41592 8.99995 4.41592C8.81408 4.41592 8.63004 4.37917 8.45842 4.30778C8.2868 4.23639 8.13099 4.13178 7.99995 3.99995L6.99995 2.99995C6.86891 2.86813 6.7131 2.76351 6.54148 2.69212C6.36987 2.62074 6.18583 2.58398 5.99995 2.58398C5.81408 2.58398 5.63004 2.62074 5.45842 2.69212C5.2868 2.76351 5.13099 2.86813 4.99995 2.99995L2.99995 4.99995Z" stroke="#2D3452" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gAzrOXEywH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gK4Kqd3q59"
        class="gK4Kqd3q59"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggK4Kqd3q59_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g0dMBSpkCD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4wOyJbiNm"}' data-id="g4wOyJbiNm" id="g4wOyJbiNm" data-same-height-subgrid-container class="g4wOyJbiNm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(244, 244, 244, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gb_2O1jGj9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geU3Wdtoj7"
        class="geU3Wdtoj7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeU3Wdtoj7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ghMv5d-Nvw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCze9Ow9ac"
        class="gCze9Ow9ac"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:12px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCze9Ow9ac_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gGq9YM82bh"}' data-id="gGq9YM82bh" id="gGq9YM82bh" data-same-height-subgrid-container class="gGq9YM82bh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(45, 52, 82, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsskyKR7WZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gISuEUzCRS"}' data-id="gISuEUzCRS" id="gISuEUzCRS" data-same-height-subgrid-container class="gISuEUzCRS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gEyCzQmeWq gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gbzSMc-ya1" class="gp-leading-[0] gbzSMc-ya1" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gbzSMc-ya1" class="icon-wrapper gp-inline-flex gp-overflow-hidden gbzSMc-ya1 " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="arcticons_how-we-feel.svg" data-id="591052067750020073" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M7.61746 16.582C8.83951 18.985 11.9944 19.6821 14.7641 18.288L18.8846 14.8273C20.2354 13.7992 21.2384 12.6101 21.8938 11.26C22.8769 6.00383 16.7815 3.51916 14.0118 6.00383L10.0877 9.55449C9.8313 9.86046 9.53506 9.90146 9.19899 9.67747L8.25028 8.63608C7.61746 7.86525 4.54824 8.25042 5.74516 10.8989L8.17284 13.2035C8.7031 13.5892 9.55745 14.3349 10.5749 13.3432L15.6108 8.84121C18.1067 7.23363 19.2261 9.98885 18.1579 10.9894C14.8862 14.2479 12.8886 16.0029 12.1651 16.2544C11.558 16.8363 9.08771 17.3612 7.61746 16.582ZM7.61746 16.582C5.41165 15.2647 3.71593 13.7668 2.5303 12.0884C0.0267161 7.43876 6.96823 2.01881 11.2339 6.95471L11.9949 7.88148" stroke="#2D3452" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gG_G_H6e_q gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUh2-Zm5B9"
        class="gUh2-Zm5B9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUh2-Zm5B9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gTpyih6QfZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNYGH8k1o9"}' data-id="gNYGH8k1o9" id="gNYGH8k1o9" data-same-height-subgrid-container class="gNYGH8k1o9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(244, 244, 244, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbv5dLSSbp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHSvfwB2Gb"
        class="gHSvfwB2Gb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHSvfwB2Gb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKQA1QDAQ2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYdwq8VGxo"
        class="gYdwq8VGxo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYdwq8VGxo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"ggbjqiEXOE"}' data-id="ggbjqiEXOE" id="ggbjqiEXOE" data-same-height-subgrid-container class="ggbjqiEXOE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(45, 52, 82, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-YszFwcau gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gdKlS7eB9K"}' data-id="gdKlS7eB9K" id="gdKlS7eB9K" data-same-height-subgrid-container class="gdKlS7eB9K gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gB8B21j7Z0 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gsIDzCfbc7" class="gp-leading-[0] gsIDzCfbc7" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gsIDzCfbc7" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsIDzCfbc7 " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="material-symbols_face-outline.svg" data-id="591052868107108875" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M9 14.25C8.65 14.25 8.354 14.129 8.112 13.887C7.87 13.645 7.74933 13.3493 7.75 13C7.75067 12.6507 7.87167 12.3547 8.113 12.112C8.35433 11.8693 8.65 11.7487 9 11.75C9.35 11.7513 9.646 11.8723 9.888 12.113C10.13 12.3537 10.2507 12.6493 10.25 13C10.2493 13.3507 10.1283 13.6467 9.887 13.888C9.64567 14.1293 9.35 14.25 9 14.25ZM15 14.25C14.65 14.25 14.354 14.129 14.112 13.887C13.87 13.645 13.7493 13.3493 13.75 13C13.7507 12.6507 13.8717 12.3547 14.113 12.112C14.3543 11.8693 14.65 11.7487 15 11.75C15.35 11.7513 15.646 11.8723 15.888 12.113C16.13 12.3537 16.2507 12.6493 16.25 13C16.2493 13.3507 16.1283 13.6467 15.887 13.888C15.6457 14.1293 15.35 14.25 15 14.25ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 11.6 19.975 11.2127 19.925 10.838C19.875 10.4633 19.7833 10.1007 19.65 9.75001C19.3 9.83334 18.95 9.896 18.6 9.938C18.25 9.98 17.8833 10.0007 17.5 10C15.9833 10 14.55 9.675 13.2 9.025C11.85 8.375 10.7 7.46667 9.75 6.30001C9.21667 7.60001 8.45433 8.72934 7.463 9.688C6.47167 10.6467 5.31733 11.3673 4 11.85V12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20ZM12 22C10.6167 22 9.31667 21.7377 8.1 21.213C6.88334 20.6883 5.825 19.9757 4.925 19.075C4.025 18.1743 3.31267 17.116 2.788 15.9C2.26333 14.684 2.00067 13.384 2 12C1.99933 10.616 2.262 9.31601 2.788 8.10001C3.314 6.88401 4.02633 5.82567 4.925 4.92501C5.82367 4.02434 6.882 3.31201 8.1 2.78801C9.318 2.26401 10.618 2.00134 12 2.00001C13.382 1.99867 14.682 2.26134 15.9 2.78801C17.118 3.31467 18.1763 4.02701 19.075 4.92501C19.9737 5.82301 20.6863 6.88134 21.213 8.10001C21.7397 9.31867 22.002 10.6187 22 12C21.998 13.3813 21.7353 14.6813 21.212 15.9C20.6887 17.1187 19.9763 18.177 19.075 19.075C18.1737 19.973 17.1153 20.6857 15.9 21.213C14.6847 21.7403 13.3847 22.0027 12 22ZM10.65 4.12501C11.35 5.29167 12.3 6.22934 13.5 6.93801C14.7 7.64667 16.0333 8.00067 17.5 8.00001C17.7333 8.00001 17.9583 7.98734 18.175 7.96201C18.3917 7.93667 18.6167 7.90767 18.85 7.87501C18.15 6.70834 17.2 5.77101 16 5.06301C14.8 4.35501 13.4667 4.00067 12 4.00001C11.7667 4.00001 11.5417 4.01267 11.325 4.03801C11.1083 4.06334 10.8833 4.09234 10.65 4.12501ZM4.425 9.47501C5.275 8.99167 6.01667 8.36667 6.65 7.60001C7.28333 6.83334 7.75833 5.97501 8.075 5.02501C7.225 5.50834 6.48333 6.13334 5.85 6.90001C5.21667 7.66667 4.74167 8.52501 4.425 9.47501Z" fill="#2D3452"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gDNZgE1DfB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_1MAFpK9l"
        class="g_1MAFpK9l"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_1MAFpK9l_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gX6tv5LYgC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1R7Gvn4ZK"}' data-id="g1R7Gvn4ZK" id="g1R7Gvn4ZK" data-same-height-subgrid-container class="g1R7Gvn4ZK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(244, 244, 244, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--mb-mobile:0px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCSZWC5gxa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwZSOPk8zW"
        class="gwZSOPk8zW"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwZSOPk8zW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gN5qEtjkj8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSDNmLSdE-"
        class="gSDNmLSdE-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSDNmLSdE-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gZeBeLs35s"}' data-id="gZeBeLs35s" id="gZeBeLs35s" data-same-height-subgrid-container class="gZeBeLs35s gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(45, 52, 82, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glr8Pq-YAl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g1aPEUoCmz"}' data-id="g1aPEUoCmz" id="g1aPEUoCmz" data-same-height-subgrid-container class="g1aPEUoCmz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_set2FuCK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gn5QYSNo_b" class="gp-leading-[0] gn5QYSNo_b" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gn5QYSNo_b" class="icon-wrapper gp-inline-flex gp-overflow-hidden gn5QYSNo_b " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="material-symbols_footprint-outline.svg" data-id="591052940064588777" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M6.5 3C5.75 3 5.146 3.41667 4.688 4.25C4.23 5.08333 4.00067 6 4 7C4 8.05 4.146 8.97933 4.438 9.788C4.73 10.5967 5.00067 11.2007 5.25 11.6L8 11.05C8.21667 10.5167 8.43767 9.90833 8.663 9.225C8.88833 8.54167 9.00067 7.8 9 7C9 6 8.771 5.08333 8.313 4.25C7.855 3.41667 7.25067 3 6.5 3ZM7.875 16C8.19167 16 8.45833 15.8833 8.675 15.65C8.89167 15.4167 9 15.0917 9 14.675C9 14.3917 8.93333 14.1 8.8 13.8C8.66667 13.5 8.53333 13.2333 8.4 13L6 13.5C6 14.1667 6.146 14.75 6.438 15.25C6.73 15.75 7.209 16 7.875 16ZM17.5 8C16.75 8 16.146 8.41667 15.688 9.25C15.23 10.0833 15.0007 11 15 12C15 12.8 15.1127 13.5377 15.338 14.213C15.5633 14.8883 15.784 15.5007 16 16.05L18.75 16.6C19 16.2 19.271 15.6 19.563 14.8C19.855 14 20.0007 13.0667 20 12C20 11 19.771 10.0833 19.313 9.25C18.855 8.41667 18.2507 8 17.5 8ZM16.125 21C16.7917 21 17.271 20.75 17.563 20.25C17.855 19.75 18.0007 19.1667 18 18.5L15.6 18C15.4667 18.2333 15.3333 18.5 15.2 18.8C15.0667 19.1 15 19.3917 15 19.675C15 20.0083 15.1043 20.3127 15.313 20.588C15.5217 20.8633 15.7923 21.0007 16.125 21ZM7.875 18C6.59167 18 5.61667 17.525 4.95 16.575C4.28333 15.625 3.96667 14.5583 4 13.375L3.55 12.7C3.36667 12.4167 3.06233 11.775 2.637 10.775C2.21167 9.775 1.99933 8.51667 2 7C2 5.28333 2.425 3.854 3.275 2.712C4.125 1.57 5.2 0.999334 6.5 1C7.91667 1 9.021 1.62933 9.813 2.888C10.605 4.14667 11.0007 5.51733 11 7C11 7.96667 10.8667 8.85833 10.6 9.675C10.3333 10.4917 10.1 11.15 9.9 11.65L10.1 11.975C10.2333 12.2083 10.4167 12.5793 10.65 13.088C10.8833 13.5967 11 14.1257 11 14.675C11 15.625 10.704 16.4167 10.112 17.05C9.52 17.6833 8.77367 18 7.875 18ZM16.126 23C15.226 23 14.48 22.6833 13.888 22.05C13.296 21.4167 13 20.625 13 19.675C13 19.125 13.1167 18.5957 13.35 18.087C13.5833 17.5783 13.7667 17.2077 13.9 16.975L14.1 16.65C13.9 16.15 13.6667 15.4917 13.4 14.675C13.1333 13.8583 13 12.9667 13 12C13 10.5167 13.396 9.146 14.188 7.888C14.98 6.63 16.084 6.00067 17.5 6C18.8 6 19.875 6.571 20.725 7.713C21.575 8.855 22 10.284 22 12C22 13.5167 21.7873 14.771 21.362 15.763C20.9367 16.755 20.6327 17.3923 20.45 17.675L20 18.375C20.0167 19.5583 19.696 20.625 19.038 21.575C18.38 22.525 17.41 23 16.126 23Z" fill="#2D3452"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8yzLaQ5qd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmd7eqH42Q"
        class="gmd7eqH42Q"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmd7eqH42Q_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gLcR5v1i_X gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUDlgUrLoI"}' data-id="gUDlgUrLoI" id="gUDlgUrLoI" data-same-height-subgrid-container class="gUDlgUrLoI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0.5px 0px;--bc:rgba(244, 244, 244, 0.5);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:100%;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKGxViOLR2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmIYQBdplU"
        class="gmIYQBdplU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmIYQBdplU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="goKllrQuBR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxHHclyenr"
        class="gxHHclyenr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHHclyenr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"g2ZdMo1BIp"}' data-id="g2ZdMo1BIp" id="g2ZdMo1BIp" data-same-height-subgrid-container class="g2ZdMo1BIp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:24px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:24px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:24px;--pr-tablet:0px;--cg:16px;--cg-tablet:12px;--cg-mobile:6px;--rg:16px;--rg-tablet:12px;--rg-mobile:6px;--gtc:minmax(0, 2fr) minmax(0, 5fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIxYLSCR4d gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gDQiHE1tLi"}' data-id="gDQiHE1tLi" id="gDQiHE1tLi" data-same-height-subgrid-container class="gDQiHE1tLi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:0px;--pb:var(--g-s-l);--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--cg:8px;--rg:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gO2-ztviKm gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g2wRsFA5Je" class="gp-leading-[0] g2wRsFA5Je" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="g2wRsFA5Je" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2wRsFA5Je " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg data-name="fluent_layer-diagonal-add-24-regular.svg" data-id="591052580646289931" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M12.5 4.25141C12.4999 4.131 12.4709 4.01237 12.4153 3.90556C12.3598 3.79874 12.2793 3.70688 12.1807 3.63773C12.0821 3.56858 11.9684 3.52418 11.849 3.50829C11.7297 3.49239 11.6082 3.50547 11.495 3.54641L4.655 6.02141C4.31678 6.14369 4.02444 6.36721 3.81778 6.66155C3.61111 6.95589 3.50015 7.30676 3.5 7.66641V13.7484C3.50005 13.8688 3.52909 13.9874 3.58467 14.0943C3.64024 14.2011 3.72072 14.2929 3.81929 14.3621C3.91786 14.4312 4.03163 14.4756 4.15099 14.4915C4.27034 14.5074 4.39177 14.4943 4.505 14.4534L5 14.2744V15.8694C4.66074 15.9894 4.29765 16.0262 3.94121 15.9768C3.58477 15.9274 3.24537 15.7933 2.9515 15.5856C2.65763 15.3779 2.41785 15.1028 2.25229 14.7833C2.08673 14.4638 2.00021 14.1092 2 13.7494V7.66541C2 6.99743 2.20583 6.34569 2.58946 5.79887C2.97309 5.25205 3.5159 4.83672 4.144 4.60941L10.984 2.13441C11.3239 2.01133 11.6885 1.97197 12.0468 2.01967C12.4052 2.06736 12.7468 2.2007 13.0427 2.40839C13.3386 2.61609 13.5801 2.89202 13.7467 3.21284C13.9133 3.53365 14.0002 3.88989 14 4.25141V4.42841L12.5 4.97141V4.25141ZM16.5 7.25141C16.4999 7.131 16.4709 7.01237 16.4153 6.90556C16.3598 6.79874 16.2793 6.70688 16.1807 6.63773C16.0821 6.56858 15.9684 6.52418 15.849 6.50829C15.7297 6.49239 15.6082 6.50547 15.495 6.54641L8.325 9.13941C8.08325 9.22681 7.87433 9.38662 7.7267 9.59706C7.57906 9.8075 7.4999 10.0583 7.5 10.3154V16.7474C7.50005 16.8678 7.52909 16.9864 7.58467 17.0933C7.64024 17.2001 7.72072 17.2919 7.81929 17.3611C7.91786 17.4302 8.03163 17.4746 8.15099 17.4905C8.27034 17.5064 8.39177 17.4933 8.505 17.4524L9 17.2744V18.8704C8.66058 18.9904 8.29731 19.0272 7.94071 18.9777C7.58412 18.9282 7.2446 18.7939 6.95068 18.586C6.65677 18.3781 6.41703 18.1027 6.2516 17.783C6.08617 17.4632 5.99989 17.1084 6 16.7484V10.3164C5.99975 9.75102 6.17378 9.1993 6.49838 8.73638C6.82298 8.27346 7.28237 7.92184 7.814 7.72941L14.984 5.13441C15.3239 5.01133 15.6885 4.97197 16.0468 5.01967C16.4052 5.06736 16.7468 5.2007 17.0427 5.40839C17.3386 5.61609 17.5801 5.89202 17.7467 6.21284C17.9133 6.53365 18.0002 6.88989 18 7.25141V7.42841L16.5 7.97141V7.25141ZM19.495 9.54641C19.6082 9.50547 19.7297 9.49239 19.849 9.50829C19.9684 9.52418 20.0821 9.56858 20.1807 9.63773C20.2793 9.70688 20.3598 9.79874 20.4153 9.90556C20.4709 10.0124 20.4999 10.131 20.5 10.2514V11.3124C21.0282 11.4837 21.5323 11.722 22 12.0214V10.2514C22.0001 9.88998 21.9131 9.53385 21.7463 9.21317C21.5796 8.89249 21.3381 8.61669 21.0423 8.40911C20.7464 8.20153 20.4049 8.06828 20.0466 8.02063C19.6883 7.97299 19.3238 8.01236 18.984 8.13541L11.484 10.8494C11.0492 11.0068 10.6734 11.2945 10.4079 11.6731C10.1423 12.0517 9.99992 12.5029 10 12.9654V19.7484C9.99994 20.1098 10.0869 20.466 10.2537 20.7866C10.4204 21.1073 10.6619 21.3831 10.9577 21.5907C11.2536 21.7983 11.5951 21.9315 11.9534 21.9792C12.3117 22.0268 12.6762 21.9875 13.016 21.8644L13.523 21.6804C13.1909 21.2858 12.9069 20.8531 12.677 20.3914L12.505 20.4534C12.3918 20.4943 12.2703 20.5074 12.151 20.4915C12.0316 20.4756 11.9179 20.4312 11.8193 20.3621C11.7207 20.2929 11.6402 20.2011 11.5847 20.0943C11.5291 19.9874 11.5001 19.8688 11.5 19.7484V12.9654C11.5001 12.8113 11.5476 12.6609 11.6362 12.5348C11.7248 12.4086 11.85 12.3128 11.995 12.2604L19.495 9.54641ZM24 17.4994C24 16.7771 23.8577 16.0619 23.5813 15.3946C23.3049 14.7274 22.8998 14.121 22.3891 13.6103C21.8784 13.0996 21.272 12.6945 20.6048 12.4181C19.9375 12.1417 19.2223 11.9994 18.5 11.9994C17.7777 11.9994 17.0625 12.1417 16.3952 12.4181C15.728 12.6945 15.1216 13.0996 14.6109 13.6103C14.1002 14.121 13.6951 14.7274 13.4187 15.3946C13.1423 16.0619 13 16.7771 13 17.4994C13 18.9581 13.5795 20.357 14.6109 21.3885C15.6424 22.4199 17.0413 22.9994 18.5 22.9994C19.9587 22.9994 21.3576 22.4199 22.3891 21.3885C23.4205 20.357 24 18.9581 24 17.4994ZM19 17.9994L19.001 20.5024C19.001 20.635 18.9483 20.7622 18.8546 20.856C18.7608 20.9497 18.6336 21.0024 18.501 21.0024C18.3684 21.0024 18.2412 20.9497 18.1474 20.856C18.0537 20.7622 18.001 20.635 18.001 20.5024V17.9994H15.496C15.3634 17.9994 15.2362 17.9467 15.1424 17.853C15.0487 17.7592 14.996 17.632 14.996 17.4994C14.996 17.3668 15.0487 17.2396 15.1424 17.1459C15.2362 17.0521 15.3634 16.9994 15.496 16.9994H18V14.4994C18 14.3668 18.0527 14.2396 18.1464 14.1459C18.2402 14.0521 18.3674 13.9994 18.5 13.9994C18.6326 13.9994 18.7598 14.0521 18.8536 14.1459C18.9473 14.2396 19 14.3668 19 14.4994V16.9994H21.497C21.6296 16.9994 21.7568 17.0521 21.8506 17.1459C21.9443 17.2396 21.997 17.3668 21.997 17.4994C21.997 17.632 21.9443 17.7592 21.8506 17.853C21.7568 17.9467 21.6296 17.9994 21.497 17.9994H19Z" fill="#2D3452"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gd6HoODR8_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9i5SFpFM-"
        class="g9i5SFpFM-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9i5SFpFM-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gwNcYvlUNz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#2D3452","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGBNbk1wAT"}' data-id="gGBNbk1wAT" id="gGBNbk1wAT" data-same-height-subgrid-container class="gGBNbk1wAT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:12px;--bbrr:12px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:24px;--pr:12px;--pt-mobile:6px;--pl-mobile:6px;--pb-mobile:6px;--pr-mobile:6px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:24px;--pr-tablet:12px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#2D3452;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0G777Esvw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghIuGEipb6"
        class="ghIuGEipb6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#F4F4F4;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghIuGEipb6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gsU4TYhCEw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJIbOGnGkJ"
        class="gJIbOGnGkJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pl:12px;--pb:0px;--pr:0px;--pt-mobile:6px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:24px;--pl-tablet:12px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJIbOGnGkJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-606020064497107866 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=606020063857738650&sectionId=606020064497107866)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-iOdGSQ1z_text","label":"gg-iOdGSQ1z_text","default":"What's really in your bedding?"},{"type":"html","id":"gg3Hr59NNdk_text","label":"gg3Hr59NNdk_text","default":"<p>Gemnest Bedding</p>"},{"type":"html","id":"gg3SfVCdmuA_text","label":"gg3SfVCdmuA_text","default":"<p>Typical Bedding</p>"},{"type":"html","id":"gglysUh8i___text","label":"gglysUh8i___text","default":"<p>Fiber Source</p>"},{"type":"html","id":"ggOU0XSXawa_text","label":"ggOU0XSXawa_text","default":"<p>Natural plant fibers  sustainably grown bamboo, hemp, and organic cotton</p>"},{"type":"html","id":"gghg6m_neau_text","label":"gghg6m_neau_text","default":"<p>Synthetic fibers made from petroleum</p>"},{"type":"html","id":"ggK4Kqd3q59_text","label":"ggK4Kqd3q59_text","default":"<p>Dye Process</p>"},{"type":"html","id":"ggeU3Wdtoj7_text","label":"ggeU3Wdtoj7_text","default":"<p>Colored with low-impact, non-toxic dyes that preserve fabric breathability</p>"},{"type":"html","id":"ggCze9Ow9ac_text","label":"ggCze9Ow9ac_text","default":"<p>Often treated with harsh chemical dyes and bleaches</p>"},{"type":"html","id":"ggUh2-Zm5B9_text","label":"ggUh2-Zm5B9_text","default":"<p>Touch &amp; Feel</p>"},{"type":"html","id":"ggHSvfwB2Gb_text","label":"ggHSvfwB2Gb_text","default":"<p>Naturally soft, temperature-regulating, and breathable year-round</p>"},{"type":"html","id":"ggYdwq8VGxo_text","label":"ggYdwq8VGxo_text","default":"<p>Can trap heat and feel heavy or sticky on skin</p>"},{"type":"html","id":"gg_1MAFpK9l_text","label":"gg_1MAFpK9l_text","default":"<p>Impact on Skin</p>"},{"type":"html","id":"ggwZSOPk8zW_text","label":"ggwZSOPk8zW_text","default":"<p>Hypoallergenic, ideal for sensitive or acne-prone skin</p>"},{"type":"html","id":"ggSDNmLSdE-_text","label":"ggSDNmLSdE-_text","default":"<p>May cause irritation or dryness over time</p>"},{"type":"html","id":"ggmd7eqH42Q_text","label":"ggmd7eqH42Q_text","default":"<p>Environmental Footprint</p>"},{"type":"html","id":"ggmIYQBdplU_text","label":"ggmIYQBdplU_text","default":"<p>Biodegradable fibers and eco-conscious production</p>"},{"type":"html","id":"ggxHHclyenr_text","label":"ggxHHclyenr_text","default":"<p>High carbon footprint, non-biodegradable materials</p>"},{"type":"html","id":"gg9i5SFpFM-_text","label":"gg9i5SFpFM-_text","default":"<p>Transparency</p>"},{"type":"html","id":"gghIuGEipb6_text","label":"gghIuGEipb6_text","default":"<p>Full material and dye disclosure on every product page</p>"},{"type":"html","id":"ggJIbOGnGkJ_text","label":"ggJIbOGnGkJ_text","default":"<p>Often no clear information about material sourcing</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}