
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605291774960731034.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605291774960731034.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605291774960731034.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605291774960731034.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605291774960731034.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605291774960731034.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605291774960731034.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605291774960731034.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605291774960731034.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605291774960731034.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605291774960731034.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605291774960731034.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605291774960731034.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-605291774960731034.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605291774960731034.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605291774960731034.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605291774960731034.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605291774960731034.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605291774960731034.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605291774960731034.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605291774960731034.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605291774960731034.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-605291774960731034.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-605291774960731034.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-605291774960731034.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-605291774960731034.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605291774960731034.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605291774960731034.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605291774960731034.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-605291774960731034.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-605291774960731034.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-605291774960731034.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-605291774960731034.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-605291774960731034.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-605291774960731034.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-605291774960731034.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605291774960731034.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605291774960731034.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605291774960731034.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605291774960731034.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605291774960731034.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605291774960731034.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605291774960731034.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605291774960731034.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-605291774960731034.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605291774960731034.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605291774960731034.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-605291774960731034.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-605291774960731034.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-605291774960731034.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605291774960731034.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-605291774960731034.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-605291774960731034.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-605291774960731034.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-605291774960731034.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605291774960731034.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-605291774960731034.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-605291774960731034.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-605291774960731034.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-605291774960731034.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-605291774960731034.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-605291774960731034.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-605291774960731034.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-605291774960731034.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-605291774960731034.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-605291774960731034.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-605291774960731034.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-605291774960731034.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605291774960731034.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-605291774960731034.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-605291774960731034.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-605291774960731034.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-605291774960731034.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-605291774960731034.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-605291774960731034.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-605291774960731034.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-605291774960731034.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-605291774960731034 .gp-invisible{visibility:hidden}.gps-605291774960731034 .gp-absolute{position:absolute}.gps-605291774960731034 .gp-relative{position:relative}.gps-605291774960731034 .gp-top-0{top:0}.gps-605291774960731034 .-gp-z-1{z-index:-1}.gps-605291774960731034 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605291774960731034 .gp-mb-0{margin-bottom:0}.gps-605291774960731034 .gp-flex{display:flex}.gps-605291774960731034 .gp-inline-flex{display:inline-flex}.gps-605291774960731034 .gp-grid{display:grid}.gps-605291774960731034 .\!gp-hidden{display:none!important}.gps-605291774960731034 .gp-hidden{display:none}.gps-605291774960731034 .gp-h-full{height:100%}.gps-605291774960731034 .gp-w-full{width:100%}.gps-605291774960731034 .gp-max-w-full{max-width:100%}.gps-605291774960731034 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605291774960731034 .gp-flex-col{flex-direction:column}.gps-605291774960731034 .\!gp-content-stretch{align-content:stretch!important}.gps-605291774960731034 .gp-items-center{align-items:center}.gps-605291774960731034 .gp-justify-end{justify-content:flex-end}.gps-605291774960731034 .gp-justify-center{justify-content:center}.gps-605291774960731034 .\!gp-self-center{align-self:center!important}.gps-605291774960731034 .gp-self-center{align-self:center}.gps-605291774960731034 .gp-overflow-hidden{overflow:hidden}.gps-605291774960731034 .gp-break-words{overflow-wrap:break-word}.gps-605291774960731034 .gp-no-underline{text-decoration-line:none}.gps-605291774960731034 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605291774960731034 .gp-duration-200{transition-duration:.2s}.gps-605291774960731034 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605291774960731034 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-605291774960731034 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-605291774960731034 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-605291774960731034 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-605291774960731034 .tablet\:\!gp-relative{position:relative!important}.gps-605291774960731034 .tablet\:\!gp-hidden{display:none!important}.gps-605291774960731034 .tablet\:gp-hidden{display:none}.gps-605291774960731034 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-605291774960731034 .tablet\:gp-justify-end{justify-content:flex-end}.gps-605291774960731034 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-605291774960731034 .mobile\:\!gp-relative{position:relative!important}.gps-605291774960731034 .mobile\:\!gp-hidden{display:none!important}.gps-605291774960731034 .mobile\:gp-hidden{display:none}.gps-605291774960731034 .mobile\:\!gp-h-auto{height:auto!important}.gps-605291774960731034 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-605291774960731034 .mobile\:gp-justify-end{justify-content:flex-end}.gps-605291774960731034 .mobile\:\!gp-self-center{align-self:center!important}}.gps-605291774960731034 .\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}@media (max-width:1024px){.gps-605291774960731034 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-605291774960731034 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-605291774960731034 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-605291774960731034 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gK2hEl1DRk"}' data-id="gK2hEl1DRk" id="gK2hEl1DRk" data-same-height-subgrid-container class="gK2hEl1DRk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grO9dT8nTP gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="g23JOHTNo_"
        class="g23JOHTNo_ gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:600px;--h-tablet:600px;--h-mobile:fit-content"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"backupFileKey":"gempages_605284330960323482-b64d329b-811b-4a05-96fe-040e1af960d1.png","height":1156,"src":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Frame_1171281040.png","storage":"FILE_CONTENT","width":2880},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"https://youtu.be/KOxfzBp72uk","videoType":"html5"},"tablet":{"attachment":"scroll","image":{"backupFileKey":"gempages_605284330960323482-b64d329b-811b-4a05-96fe-040e1af960d1.png","height":1156,"src":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Frame_1171281040.png","storage":"FILE_CONTENT","width":2880},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"https://youtu.be/KOxfzBp72uk","videoType":"html5"},"mobile":{"attachment":"scroll","image":{"backupFileKey":"gempages_605284330960323482-b64d329b-811b-4a05-96fe-040e1af960d1.png","height":1156,"src":"https://cdn.shopify.com/s/files/1/0306/4076/7108/files/Frame_1171281040.png","storage":"FILE_CONTENT","width":2880},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"https://youtu.be/KOxfzBp72uk","videoType":"html5"}},"uid":"g23JOHTNo_","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill","type":"center-bottom"},"mobile":{"cols":[12],"display":"fill","type":"center-bottom"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom"},"contentPosition2Col":{"desktop":"top"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"customShapeValue":"","gap":"","height":"600px","shape":"custom","shapeLinked":false,"shapeValue":"","width":"100%","widthHeightLinked":false},"tablet":{"customShapeValue":"","gap":"","height":"600px","shape":"custom","shapeLinked":false,"shapeValue":"","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"fit-content","shape":"custom","shapeLinked":false,"shapeValue":"","width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-end tablet:gp-justify-end mobile:gp-justify-end" style="--h:600px;--h-tablet:600px;--h-mobile:fit-content">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTExNTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMTE1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiBmaWxsPSJ1cmwoI2ctMjg4MC0xMTU2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyODgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTI4ODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMjg4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyODgwIiBmaWxsPSJ1cmwoI2ctMjg4MC0yODgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyODgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTI4ODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMjg4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIyODgwIiBmaWxsPSJ1cmwoI2ctMjg4MC0yODgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Frame_1171281040.png" | file_url }}" data-src="{{ "Frame_1171281040.png" | file_url }}" data-srcset="{{ "Frame_1171281040.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Frame_1171281040.png" | file_url }}" data-src="{{ "Frame_1171281040.png" | file_url }}" data-srcset="{{ "Frame_1171281040.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Frame_1171281040.png" | file_url }}" data-src="{{ "Frame_1171281040.png" | file_url }}" data-srcset="{{ "Frame_1171281040.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-end tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:end;--pc-tablet:end;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gNK9yY9Lcs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8CZEcKkS1"
        class="g8CZEcKkS1"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:60px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:40px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:60px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:32px;--size-tablet:32px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ls-tablet:normal;--ls-mobile:normal;--c:#FFFFFF;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8CZEcKkS1_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX0SgGvT7x"
        class="gX0SgGvT7x"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX0SgGvT7x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="g8hoBCJJkR"].gp-button-base::before, [data-id="g8hoBCJJkR-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="g8hoBCJJkR"]:hover::before, [data-id="g8hoBCJJkR-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g8hoBCJJkR" dataId="g8hoBCJJkR" data-state="idle" aria-label="<p>Trade In &amp; Save</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--bgi:;--bg:#FFFFFF;--c:#2D3452;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--tt:uppercase"
          class="g8hoBCJJkR gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg8hoBCJJkR_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Frame_1171281040.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTExNTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMTE1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiBmaWxsPSJ1cmwoI2ctMjg4MC0xMTU2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Frame_1171281040.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTExNTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMTE1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiBmaWxsPSJ1cmwoI2ctMjg4MC0xMTU2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yODgwLTExNTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI4ODAiIGhlaWdodD0iMTE1NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjg4MCIgaGVpZ2h0PSIxMTU2IiBmaWxsPSJ1cmwoI2ctMjg4MC0xMTU2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjg4MCIgdG89IjI4ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Frame_1171281040.png" | file_url }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:600px;--h-tablet:600px;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-605291774960731034 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=605291764927955542&sectionId=605291774960731034)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8CZEcKkS1_text","label":"gg8CZEcKkS1_text","default":"sleep better, sustain better"},{"type":"html","id":"ggX0SgGvT7x_text","label":"ggX0SgGvT7x_text","default":"<p>Trade in your old sheets and <strong>enjoy 15% off your new Gemnest set </strong>because comfort shouldn’t cost the planet.</p>"},{"type":"html","id":"gg8hoBCJJkR_label","label":"gg8hoBCJJkR_label","default":"<p>Trade In &amp; Save</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}