
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-606020064497501082.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-606020064497501082.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-606020064497501082.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-606020064497501082.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-606020064497501082.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-606020064497501082.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-606020064497501082.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-606020064497501082.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-606020064497501082.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-606020064497501082.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-606020064497501082.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-606020064497501082.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-606020064497501082.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-606020064497501082.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-606020064497501082.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-606020064497501082.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-606020064497501082.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-606020064497501082.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-606020064497501082.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-606020064497501082.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-606020064497501082.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-606020064497501082.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-606020064497501082.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-606020064497501082.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-606020064497501082.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-606020064497501082.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-606020064497501082.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-606020064497501082.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-606020064497501082.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-606020064497501082.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-606020064497501082.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-606020064497501082.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-606020064497501082.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-606020064497501082.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-606020064497501082.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-606020064497501082.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-606020064497501082.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-606020064497501082.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-606020064497501082.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-606020064497501082.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-606020064497501082.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-606020064497501082.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-606020064497501082.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-606020064497501082.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-606020064497501082.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-606020064497501082.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-606020064497501082.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-606020064497501082.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-606020064497501082.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-606020064497501082.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-606020064497501082.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-606020064497501082.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-606020064497501082.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-606020064497501082.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-606020064497501082.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-606020064497501082.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-606020064497501082.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-606020064497501082.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-606020064497501082.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-606020064497501082.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-606020064497501082.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-606020064497501082.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-606020064497501082.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-606020064497501082.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-606020064497501082.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-606020064497501082.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-606020064497501082.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-606020064497501082.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-606020064497501082.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-606020064497501082.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-606020064497501082.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-606020064497501082.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-606020064497501082.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-606020064497501082.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-606020064497501082.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-606020064497501082.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-606020064497501082.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-606020064497501082.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-606020064497501082.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-606020064497501082.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-606020064497501082.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-606020064497501082 .\!gp-relative{position:relative!important}.gps-606020064497501082 .gp-relative{position:relative}.gps-606020064497501082 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-606020064497501082 .gp-mb-0{margin-bottom:0}.gps-606020064497501082 .gp-flex{display:flex}.gps-606020064497501082 .gp-inline-flex{display:inline-flex}.gps-606020064497501082 .gp-grid{display:grid}.gps-606020064497501082 .\!gp-hidden{display:none!important}.gps-606020064497501082 .gp-hidden{display:none}.gps-606020064497501082 .gp-h-full{height:100%}.gps-606020064497501082 .gp-w-\[0\.01px\]{width:.01px}.gps-606020064497501082 .gp-w-full{width:100%}.gps-606020064497501082 .gp-max-w-full{max-width:100%}.gps-606020064497501082 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-606020064497501082 .gp-flex-col{flex-direction:column}.gps-606020064497501082 .gp-items-center{align-items:center}.gps-606020064497501082 .gp-justify-center{justify-content:center}.gps-606020064497501082 .gp-overflow-hidden{overflow:hidden}.gps-606020064497501082 .gp-leading-\[0\]{line-height:0}.gps-606020064497501082 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064497501082 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-606020064497501082 .gp-duration-200{transition-duration:.2s}.gps-606020064497501082 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-606020064497501082 .tablet\:\!gp-hidden{display:none!important}.gps-606020064497501082 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-606020064497501082 .mobile\:\!gp-hidden{display:none!important}.gps-606020064497501082 .mobile\:gp-hidden{display:none}}.gps-606020064497501082 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-606020064497501082 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-606020064497501082 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-606020064497501082 .\[\&\>svg\]\:gp-w-full>svg{width:100%}@media (max-width:1024px){.gps-606020064497501082 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-606020064497501082 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-606020064497501082 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F4F4","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gp-WZ2wRv_"}' data-id="gp-WZ2wRv_" id="gp-WZ2wRv_" data-same-height-subgrid-container class="gp-WZ2wRv_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#DDDDDD;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:0px;--pb:12px;--pr:0px;--pt-tablet:10px;--pb-tablet:10px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F4F4F4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gL1bHdt2eI gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gcuaR1UDRS" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":true,"itemWidthType":{"desktop":"FIT_CONTENT","mobile":"FIT_CONTENT","tablet":"FIT_CONTENT"},"speed":"0.5","stopOnHover":true,"uid":"gcuaR1UDRS"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"transparent"},"iconSeparatorColor":"#2D3452","iconSeparatorSize":{"desktop":6,"mobile":6,"tablet":6},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"300px","mobile":"300px","tablet":"300px"},"itemShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"itemSpacing":{"desktop":"83px","mobile":"45px","tablet":"45px"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}}}}'
   class="gcuaR1UDRS">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gcuaR1UDRS">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:paused;--pause-on-click:paused;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gwqVjlnYHa gem-marquee-item-gwqVjlnYHa"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbEtTD6103"}' data-id="gbEtTD6103" id="gbEtTD6103" data-same-height-subgrid-container class="gbEtTD6103 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gZiUnn19NT gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gxhLlOi3VM" class="gp-leading-[0] gxhLlOi3VM" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gxhLlOi3VM" class="icon-wrapper gp-inline-flex gp-overflow-hidden gxhLlOi3VM " style="--shadow:none">
      
        <div >
          <span style="--c:#2D3452;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="material-symbols-light_mode-cool.svg" data-id="589871675042955787" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M11.5 16.658L8.079 20.028C7.98567 20.122 7.87167 20.169 7.737 20.169C7.60233 20.169 7.489 20.114 7.397 20.004C7.28633 19.9107 7.231 19.7967 7.231 19.662C7.231 19.5273 7.286 19.4053 7.396 19.296L11.5 15.192V12.5H8.808L4.678 16.629C4.58467 16.7223 4.47133 16.769 4.338 16.769C4.20467 16.769 4.08233 16.714 3.971 16.604C3.87767 16.5107 3.831 16.3967 3.831 16.262C3.831 16.1273 3.87767 16.014 3.971 15.922L7.342 12.5H2.975C2.84567 12.5 2.734 12.4523 2.64 12.357C2.54667 12.2617 2.5 12.1427 2.5 12C2.5 11.8707 2.54767 11.755 2.643 11.653C2.739 11.551 2.858 11.5 3 11.5H7.342L3.972 8.104C3.878 8.01067 3.831 7.897 3.831 7.763C3.831 7.629 3.886 7.50667 3.996 7.396C4.08933 7.30267 4.20333 7.256 4.338 7.256C4.47267 7.256 4.59467 7.30267 4.704 7.396L8.808 11.5H11.5V8.808L7.371 4.704C7.27767 4.61067 7.231 4.497 7.231 4.363C7.231 4.229 7.286 4.10667 7.396 3.996C7.48933 3.90267 7.60333 3.856 7.738 3.856C7.87267 3.856 7.986 3.90267 8.078 3.996L11.5 7.342V3C11.5 2.87067 11.5477 2.755 11.643 2.653C11.7383 2.551 11.8573 2.5 12 2.5C12.1293 2.5 12.245 2.551 12.347 2.653C12.449 2.755 12.5 2.87067 12.5 3V7.342L15.896 3.996C15.9893 3.90267 16.103 3.856 16.237 3.856C16.371 3.856 16.4933 3.90267 16.604 3.996C16.6973 4.106 16.744 4.228 16.744 4.362C16.744 4.496 16.6973 4.61 16.604 4.704L12.5 8.808V11.5H15.192L19.296 7.396C19.3893 7.30267 19.5033 7.256 19.638 7.256C19.7727 7.256 19.8947 7.311 20.004 7.421C20.0973 7.51433 20.144 7.628 20.144 7.762C20.144 7.896 20.0973 8.01 20.004 8.104L16.658 11.5H21C21.1293 11.5 21.245 11.551 21.347 11.653C21.449 11.755 21.5 11.8707 21.5 12C21.5 12.1427 21.449 12.2617 21.347 12.357C21.245 12.4523 21.1293 12.5 21 12.5H16.658L20.004 15.921C20.0973 16.0143 20.144 16.1283 20.144 16.263C20.144 16.3977 20.0973 16.511 20.004 16.603C19.8933 16.7137 19.771 16.769 19.637 16.769C19.503 16.769 19.3897 16.714 19.297 16.604L15.191 12.5H12.5V15.192L16.604 19.322C16.6973 19.4153 16.744 19.5287 16.744 19.662C16.744 19.7953 16.689 19.9177 16.579 20.029C16.4857 20.1223 16.3717 20.169 16.237 20.169C16.1023 20.169 15.989 20.1223 15.897 20.029L12.5 16.658V21.025C12.5 21.1543 12.449 21.266 12.347 21.36C12.245 21.4533 12.1293 21.5 12 21.5C11.858 21.5 11.739 21.4523 11.643 21.357C11.547 21.2617 11.4993 21.1427 11.5 21V16.658Z" fill="#2B3453"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gX9zQ-DwT6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEtyAlIAzg"
        class="gEtyAlIAzg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px;--c:#2D3452;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEtyAlIAzg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gEtyAlIAzg">
        .gEtyAlIAzg {

}
.gEtyAlIAzg p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#2D3452;--ml:83px;--ml-tablet:45px;--ml-mobile:45px;--mr:83px;--mr-tablet:45px;--mr-mobile:45px;--h:6px;--h-tablet:6px;--h-mobile:6px;--w:6px;--w-tablet:6px;--w-mobile:6px;--minw:6px;--minw-tablet:6px;--minw-mobile:6px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gMkAE0T3yV gem-marquee-item-gMkAE0T3yV"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyRWZwy1j3"}' data-id="gyRWZwy1j3" id="gyRWZwy1j3" data-same-height-subgrid-container class="gyRWZwy1j3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gc4ALADanI gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gOMS8Vsl09" class="gp-leading-[0] gOMS8Vsl09" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gOMS8Vsl09" class="icon-wrapper gp-inline-flex gp-overflow-hidden gOMS8Vsl09 " style="--shadow:none">
      
        <div >
          <span style="--c:#2D3452;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="mynaui_drop.svg" data-id="589871334616465931" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M11.9952 3C15.5752 6.56 21.3402 10.602 18.9272 16.397C17.7752 19.163 14.9922 21 12.0002 21C9.00816 21 6.22516 19.163 5.07316 16.397C2.66116 10.607 8.41916 6.561 11.9952 3Z" stroke="#2B3453" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="grqhl6i8-z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gblPANrT0b"
        class="gblPANrT0b"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px;--c:#2D3452;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggblPANrT0b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gblPANrT0b">
        .gblPANrT0b {

}
.gblPANrT0b p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#2D3452;--ml:83px;--ml-tablet:45px;--ml-mobile:45px;--mr:83px;--mr-tablet:45px;--mr-mobile:45px;--h:6px;--h-tablet:6px;--h-mobile:6px;--w:6px;--w-tablet:6px;--w-mobile:6px;--minw:6px;--minw-tablet:6px;--minw-mobile:6px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gso6dosumC gem-marquee-item-gso6dosumC"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gouhB8WHL7"}' data-id="gouhB8WHL7" id="gouhB8WHL7" data-same-height-subgrid-container class="gouhB8WHL7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-tablet:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gJrkbSvt6- gp-relative gp-flex gp-flex-col"
    >
      
    <div id="grRb2NjGbZ" class="gp-leading-[0] grRb2NjGbZ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="grRb2NjGbZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden grRb2NjGbZ " style="--shadow:none">
      
        <div >
          <span style="--c:#2D3452;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="material-symbols-light_shield-outline.svg" data-id="589871557334008809" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M12 20.9621C9.99067 20.3655 8.32167 19.1485 6.993 17.3111C5.66433 15.4738 5 13.4035 5 11.1001V5.69215L12 3.07715L19 5.69215V11.1001C19 13.4028 18.3357 15.4728 17.007 17.3101C15.6783 19.1475 14.0093 20.3641 12 20.9621ZM12 19.9011C13.7333 19.3511 15.1667 18.2511 16.3 16.6011C17.4333 14.9511 18 13.1178 18 11.1011V6.37515L12 4.14515L6 6.37515V11.1001C6 13.1168 6.56667 14.9501 7.7 16.6001C8.83333 18.2501 10.2667 19.3511 12 19.9011Z" fill="#2B3453"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g8JQ9r9jx2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA_SPYp0Ng"
        class="gA_SPYp0Ng"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px;--c:#2D3452;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA_SPYp0Ng_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gA_SPYp0Ng">
        .gA_SPYp0Ng {

}
.gA_SPYp0Ng p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#2D3452;--ml:83px;--ml-tablet:45px;--ml-mobile:45px;--mr:83px;--mr-tablet:45px;--mr-mobile:45px;--h:6px;--h-tablet:6px;--h-mobile:6px;--w:6px;--w-tablet:6px;--w-mobile:6px;--minw:6px;--minw-tablet:6px;--minw-mobile:6px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                     </span>
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:0px;--pr-tablet:0px;--pr-mobile:0px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gu60M972u5 gem-marquee-item-gu60M972u5"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdFPr3B1v0"}' data-id="gdFPr3B1v0" id="gdFPr3B1v0" data-same-height-subgrid-container class="gdFPr3B1v0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:12px;--cg-tablet:10px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gjDsQGeho6 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gazoME9y7n" class="gp-leading-[0] gazoME9y7n" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gazoME9y7n" class="icon-wrapper gp-inline-flex gp-overflow-hidden gazoME9y7n " style="--shadow:none">
      
        <div >
          <span style="--c:#2D3452;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="material-symbols-light_cloud-outline.svg" data-id="589871272356217833" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M6.5 19C5.25267 19 4.191 18.5647 3.315 17.694C2.43833 16.8247 2 15.7657 2 14.517C2 13.371 2.39167 12.354 3.175 11.466C3.95833 10.578 4.932 10.101 6.096 10.035C6.32067 8.57833 6.99067 7.375 8.106 6.425C9.22133 5.475 10.5193 5 12 5C13.668 5 15.085 5.583 16.251 6.749C17.417 7.915 18 9.332 18 11V12H18.616C19.5733 12.0307 20.3767 12.3823 21.026 13.055C21.6753 13.7277 22 14.5427 22 15.5C22 16.4807 21.662 17.3093 20.986 17.986C20.3087 18.662 19.48 19 18.5 19H6.5ZM6.5 18H18.5C19.2 18 19.7917 17.7583 20.275 17.275C20.7583 16.7917 21 16.2 21 15.5C21 14.8 20.7583 14.2083 20.275 13.725C19.7917 13.2417 19.2 13 18.5 13H17V11C17 9.61667 16.5123 8.43733 15.537 7.462C14.5617 6.48667 13.3827 5.99933 12 6C10.6173 6.00067 9.43833 6.48833 8.463 7.463C7.48767 8.43767 7 9.61667 7 11H6.5C5.53333 11 4.70833 11.3417 4.025 12.025C3.34167 12.7083 3 13.5333 3 14.5C3 15.4667 3.34167 16.2917 4.025 16.975C4.70833 17.6583 5.53333 18 6.5 18Z" fill="#2B3453"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g6q635b9XJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFRS7uJkhR"
        class="gFRS7uJkhR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:0.5px;--c:#2D3452;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFRS7uJkhR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gFRS7uJkhR">
        .gFRS7uJkhR {

}
.gFRS7uJkhR p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>
                     <span style="--c:#2D3452;--ml:83px;--ml-tablet:45px;--ml-mobile:45px;--mr:83px;--mr-tablet:45px;--mr-mobile:45px;--h:6px;--h-tablet:6px;--h-mobile:6px;--w:6px;--w-tablet:6px;--w-mobile:6px;--minw:6px;--minw-tablet:6px;--minw-mobile:6px"
                        class="gp-inline-flex gp-items-center  [&>svg]:gp-h-full [&>svg]:gp-w-full">
                        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z"></path></svg>
                     </span>
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-gp-WZ2wRv_">
        .gp-WZ2wRv_ {

}
      </style>
    
      <script id="custom-js-gp-WZ2wRv_">
        try {
          //const currentElement = document.getElementsByClassName('gp-WZ2wRv_');
        } catch(err){}
      </script>
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-606020064497501082 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yeah-baby-goods/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=606020063857738650&sectionId=606020064497501082)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEtyAlIAzg_text","label":"ggEtyAlIAzg_text","default":"<p>Cooling Comfort</p>"},{"type":"html","id":"ggblPANrT0b_text","label":"ggblPANrT0b_text","default":"<p>Moisture Control</p>"},{"type":"html","id":"ggA_SPYp0Ng_text","label":"ggA_SPYp0Ng_text","default":"<p>Skin-Safe Fabric</p>"},{"type":"html","id":"ggFRS7uJkhR_text","label":"ggFRS7uJkhR_text","default":"<p>Long-Lasting Softness</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}