{% assign s = section.settings %}
{% assign custom_class = s.custom_class %}
{% assign title = s.hero_title %}
{% assign use_hero_slider = s.use_hero_slider %}
{% assign slide_1_image = s.slide_1_image %}
{% assign slide_1_url = s.slide_1_url %}
{% assign slide_2_image = s.slide_2_image %}
{% assign slide_2_url = s.slide_2_url %}
{% assign slide_3_image = s.slide_3_image %}
{% assign slide_3_url = s.slide_3_url %}
{% assign caption = s.hero_caption %}
{% if s.hero_background != blank -%}
  {% assign background = s.hero_background %}
{% else %}
  {% assign background = 'placeholder.svg' | asset_url %}
{% endif %}
{% assign title_size = s.title_size %}
{% assign caption_size = s.caption_size %}
{% assign title_color = s.title_color %}
{% assign caption_color = s.caption_color %}
{% assign cta_url = s.cta_url %}
{% assign cta_text = s.cta_text %}
{% assign cta_type = s.cta_type %}
{% assign text_alignment = s.text_alignment %}
{% assign justify_content = s.justify_content %}
{% assign align_content = s.align_content %}
{% assign btn_color = s.btn_color %}
{% assign btn_hover_color = s.btn_hover_color %}
<style>
  #shopify-section-{{section.id}} .hero{
      {% if s.hero_background != blank -%}
      background: url({{ background | img_url : "master" }});
      {%else%}
      background: url({{ background }})
      {% endif %}
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  #shopify-section-{{section.id}} #hero-slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0;
  }
  #shopify-section-{{section.id}} .hero-slide {
    display: block;
    height: 100%;
  }
  #shopify-section-{{section.id}} .hero-slide img {
    height: 100%;
    max-width: unset;
    object-fit: cover;
    object-position: center;
    width: auto;
    min-height: 812px;
  }
  #shopify-section-{{section.id}} .hero .flex-container{
      min-height: 812px;
  }
  #shopify-section-{{section.id}} .hero-caption h1 {
      font-size: {{ title_size }}px !important;
      color: {{title_color}} !important;
  }
  #shopify-section-{{section.id}} .hero-caption p {
      font-size: {{ caption_size }}px !important;
      color: {{caption_color}} !important;
  }
  #shopify-section-{{section.id}} .curve-bg{
      background: url({{ 'curve-bg.png' | asset_img_url: "master" | split: "?" | first }});
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  #shopify-section-{{section.id}} .hero-caption{
      {% case justify_content %}
          {%when 'left'%}
          margin-right: auto;
          {%when 'center'%}
          margin: 0 auto;
          {%when 'right'%}
          margin-left: auto;
      {% endcase %}
  }
  #shopify-section-{{section.id}} .hero-caption .button{
      background-color: {{ btn_color }} !important;
  }
  #shopify-section-{{section.id}} .hero-caption .button:hover{
      background-color: {{ btn_hover_color }} !important;
  }

  @media (max-width:767px) {
      #shopify-section-{{section.id}} .hero-caption h1 {
      font-size: 32px !important;
      }
  }
</style>

<section class="hero d-flex {{ align_content }} {{ custom_class }}">
  {% if use_hero_slider != blank %}
    {% if title != blank %}
      <h1 class="text-white sr-only">{{ title }}</h1>
    {% endif %}
    <div id="hero-slider">
      {% if slide_1_image != blank %}
        {% if slide_1_url != blank %}
          <a class="hero-slide" href="{{ slide_1_url }}">
            {{ slide_1_image | image_url: width: 1500 | image_tag }}
          </a>
        {% endif %}
      {% endif %}
      {% if slide_2_image != blank %}
        {% if slide_2_url != blank %}
          <a class="hero-slide" href="{{ slide_2_url }}">
            {{ slide_2_image | image_url: width: 1500 | image_tag }}
          </a>
        {% endif %}
      {% endif %}
    </div>
    <script defer>
      function slickHeroSlides() {
        if ($('#hero-slider').find('img').length <= 1) {
          $('#hero-slider').css('opacity', '1');
          return;
        }
        if (typeof $('#hero-slider').slick !== 'function') {
          setTimeout(slickHeroSliders, 100);
          return;
        }
        $('#hero-slider')
          .slick({
            dots: true,
            infinite: true,
            speed: 500,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 5000,
            pauseOnHover: false,
            pauseOnFocus: false,
          })
          .css('opacity', '1');
      }
      slickHeroSlides();
    </script>
  {% endif %}
  {% if cta_url != blank %}
    <div class="container">
      <div class="hero-caption text-white {{ text_alignment }}">
        {% if title != blank %}
          <h1 class="text-white">{{ title }}</h1>
        {% endif %}
        {% if caption != blank %}
          <p class="copy-lg">{{ caption }}</p>
        {% endif %}
        <div class="button-wrapper">
          <a
            href="{{cta_url}}"
            class="
              button {% if cta_type == 'outline'%}
                  {{ cta_type }} {% else %} secondary
              {% endif %} large
            "
          >
            {{- cta_text -}}
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</section>
{% if s.curved_bottom %}
  <div class="curve-bg"></div>
{% endif %}
{% schema %}
{
  "name": "Hero Banner",
  "class": "hero-banner-custom",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "image_picker",
      "id": "hero_background",
      "label": "Background",
      "info": "Selected Image will set as background to this section"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Title",
      "default": "Level up your IKEA highchair, oh yeah.",
      "info": "This will set the text for Heading"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#fff",
      "info": "This will set color to Hero Title"
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title Font Size",
      "min": 20,
      "max": 70,
      "step": 2,
      "default": 60
    },
    {
      "type": "header",
      "content": "Slides"
    },
    {
      "type": "checkbox",
      "id": "use_hero_slider",
      "label": "Use Hero Slider"
    },
    {
      "type": "image_picker",
      "id": "slide_1_image",
      "label": "Slide 1 Image"
    },
    {
      "type": "url",
      "id": "slide_1_url",
      "label": "Slide 1 URL"
    },
    {
      "type": "image_picker",
      "id": "slide_2_image",
      "label": "Slide 2 Image"
    },
    {
      "type": "url",
      "id": "slide_2_url",
      "label": "Slide 2 URL"
    },
    {
      "type": "image_picker",
      "id": "slide_3_image",
      "label": "Slide 3 Image"
    },
    {
      "type": "url",
      "id": "slide_3_url",
      "label": "Slide 3 URL"
    },
    {
      "type": "header",
      "content": "Caption settings"
    },
    {
      "type": "textarea",
      "id": "hero_caption",
      "label": "Caption",
      "default": "Style. Function. Affordability. Customization at last.",
      "info": "This will set text for Caption"
    },
    {
      "type": "color",
      "id": "caption_color",
      "label": "Caption Color",
      "default": "#fff",
      "info": "This will set color to Hero caption"
    },
    {
      "type": "range",
      "id": "caption_size",
      "label": "Caption Font Size",
      "min": 16,
      "max": 30,
      "step": 1,
      "default": 22
    },
    {
      "type": "header",
      "content": "CTA settings"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "URL",
      "info": "Remaining empty will disable the CTA button"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Text",
      "default": "Shop Now"
    },
    {
      "type": "select",
      "id": "cta_type",
      "label": "Button Type",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "outline",
          "label": "Secondary"
        }
      ],
      "default": "outline"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "checkbox",
      "id": "curved_bottom",
      "label": "Enable Curve On Bottom",
      "default": true
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Align Text",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Horizontal Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_content",
      "label": "Vertical Alignment",
      "options": [
        {
          "value": "align-items-start",
          "label": "Top"
        },
        {
          "value": "align-items-center",
          "label": "Middle"
        },
        {
          "value": "align-items-end",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Color"
    },
    {
      "type": "color",
      "id": "btn_hover_color",
      "label": "Button Color on Hover"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}
