{% assign pad_top = s.pad_top %}
{% case section.settings.collection_results_per_row %}
  {% when '2' %}
    {%- assign row = 'two-items' -%}
  {% when '3' %}
    {%- assign row = 'three-items' -%}
  {% when '4' %}
    {%- assign row = 'four-items' -%}
  {% when '5' %}
    {%- assign row = 'five-items' -%}
{% endcase %}
<style>
    {% assign margin_bottom =  section.settings.margin_bottom %} 
    {% assign padding_top = section.settings.padding_top %}
    {% assign margin_top = section.settings.margin_top %}
    {% assign margin_top_mb = section.settings.margin_top_mb %}
    {% assign margin_top_tab = section.settings.margin_top_tab %}
    {% assign margin_bottom_mb = section.settings.margin_bottom_mb %}
    {% assign margin_bottom_tab = section.settings.margin_bottom_tab %}
    {% assign padding_top_mb = section.settings.padding_top_mb %}
    {% assign padding_top_tab = section.settings.padding_top_tab %}
    {% assign padding_top_desktop = section.settings.padding_top_desktop %}

    .widget-title-{{ section.id }} .btn-shop-all {
        background: {{ section.settings.button_bg_color }};
        color: {{ section.settings.button_text_color }};
        border: 1px solid {{ section.settings.button_border_color }};
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: normal;
        line-height: 22px;
        padding: {{ section.settings.button_padding_top }}px {{ section.settings.button_padding_right }}px {{ section.settings.button_padding_bottom }}px {{ section.settings.button_padding_left }}px;
    }

    .widget-title-{{ section.id }} .btn-shop-all:hover {
        background: {{ section.settings.button_hover_bg_color }};
        color: {{ section.settings.button_hover_text_color }};
        border-color: {{ section.settings.button_hover_border_color }};
    }
    

    {% if section.settings.enable_style_override %}
    .widget-title-{{ section.id }} .list-product-tabs .tab-links {
        background: {{ section.settings.tab_inactive_bg_color }};
        border-color: {{ section.settings.tab_inactive_border_color }};
        color: {{ section.settings.tab_inactive_color }};
        font-family: 'Karla', sans-serif;
    }
    .widget-title-{{ section.id }} .list-product-tabs .tab-links.active {
        background: {{ section.settings.tab_active_bg_color }};
        border-color: {{ section.settings.tab_activeborder_color }};
        color: {{ section.settings.tab_active_color }};
    }
    {% endif %}
    
    .widget-title-{{ section.id }} .slick-dots li button {
        background: {{ section.settings.dots_bg_color }};
        border-color: {{ section.settings.dots_border_color }};
    }
    .widget-title-{{ section.id }} .slick-dots li.slick-active button {
        background: {{ section.settings.dots_active_bg_color }};
        border-color: {{ section.settings.dots_active_border_color }};
    }

    @media (max-width: 767px) {
        .widget-title-{{ section.id }}.pad-top {
            padding-top: {{ padding_top_mb }}px;
        }
        #product-tabs-{{section.id}} {
            margin-top: {{ margin_top_mb }}px;
            margin-bottom: {{ margin_bottom_mb }}px;
        }
        .widget-title-{{ section.id }} .slick-dots {
            margin-bottom: {{ section.settings.dots_margin_bottom_mb }}px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .widget-title-{{ section.id }}.pad-top {
            padding-top: {{ padding_top_tab }}px;
        }
        #product-tabs-{{section.id}} {
            margin-top: {{ margin_top_tab }}px;
            margin-bottom: {{ margin_bottom_tab }}px;
        }
        .widget-title-{{ section.id }} .slick-dots {
            margin-bottom: {{ section.settings.dots_margin_bottom_tab }}px;
        }
    }

    @media (min-width: 1200px) {
        .widget-title-{{ section.id }}.pad-top {
            padding-top: {{ padding_top_desktop }}px;
        }
        #product-tabs-{{section.id}} {
            margin-top: {{ margin_top }}px;
            margin-bottom: {{ margin_bottom }}px;
        }
    }   
</style>
<section class="widget-title widget-title-{{ section.id }}{% if section.settings.pad_top == true %} pad-top {% endif %}">
<div class="home-product-tabs" id="product-tabs-{{section.id}}" data-home-product-tabs>
    <div class="container">
        {% if section.settings.product_tabs_title != blank %}
        <div class="widget-title{% if section.settings.title_style == 'style_2' %} not-before{% endif %}">   
            <h3 class="box-title">
                <span class="title"> 
                {% render 'multilang' with section.settings.product_tabs_title %}
                </span>
            </h3>
            {% if section.settings.product_tabs_des != blank %}
            <p>
                {% render 'multilang' with section.settings.product_tabs_des %}
            </p>        
            {% endif %}
        </div>
        {% endif %}
        
        <div class="widget-product">
            <ul class="list-product-tabs{% if section.settings.tabs_style == 'style_2' %} product-tabs-style2{% elsif section.settings.tabs_style == 'style_3' %} product-tabs-style3{% endif %}">
                {% for block in section.blocks %}
                <li>
                <a href="#" data-target="#product-tab-{{ block.id }}" data-product-tabTop data-href="{{ collections[block.settings.collection].url }}?view=json" class="tab-links{% if forloop.first %} active{% endif %}">
                    {% render 'multilang' with block.settings.title %}
                </a>
                </li>
                {% endfor %}
            </ul>
            
            <div class="product-tabs-content">
                {% for block in section.blocks %}
                <div class="tab-content{% if forloop.first %} active{% endif %}" data-product-TabContent id="product-tab-{{ block.id }}">
                    <div class="products-grid row {{ row }}" data-row="{{ section.settings.collection_results_per_row }}">
                        <div class="loading col-12"></div>
                    </div>
                    {% if collections[block.settings.collection].url != blank and section.settings.use_button %}
                    <div class="text-center view-all">
                        <a class="btn btn-shop-all" href="{% if block.settings.page_link %}{{ block.settings.page_link.url }}{% else %}{{ collections[block.settings.collection].url }}{% endif %}">
                            {% if block.settings.button_text != blank %}
                                {{ block.settings.button_text }}
                            {% else %}
                                {{ section.settings.button_prefix }} {{ collections[block.settings.collection].title | remove: section.settings.button_remove_text }}
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Product Tabs",
    "class": "home-product-tabs-sections",
    "settings": [  
        {
            "type": "checkbox",
            "id": "pad_top",
            "label": "Add padding top",
            "default": true
        },
        {
            "type": "header",
            "content": "Section Top Padding:",
            "info": "Overrides the default padding top for the whole section"
        },    
        {
            "type": "range",
            "id": "padding_top_mb",
            "label": "Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 15
        },
        {
            "type": "range",
            "id": "padding_top_tab",
            "label": "Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 15
        },
        {
            "type": "range",
            "id": "padding_top_desktop",
            "label": "Desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 15
        },
        {
            "type": "header",
            "content": "Header"
        },    
        {
            "type": "text",
            "id": "product_tabs_title",
            "label": "Title",
            "default": "New Arrivals"
        },
        {
            "type" : "textarea",
            "id" : "product_tabs_des",
            "label" : "Description"
        },
        {
            "type": "select",
            "id": "title_style",
            "label": "Title Style:",

            "options": [
                {
                    "value": "style_1",
                    "label": "Style 1" 
                },
                { 
                    "value": "style_2",
                    "label": "Style 2" 
                }          
            ],
            "default": "style_1"
        },     
        {
            "type": "header",
            "content": "Content"
        }, 
        {
            "type": "select",
            "id": "collection_results_per_row",
            "label": "Products per row",
            "options": [
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                }
            ],
            "default": "5"
        },
        {
            "type": "select",
            "id": "tabs_style",
            "label": "Product Tabs Style:",

            "options": [
                {
                    "value": "style_1",
                    "label": "Style 1" 
                },
                { 
                    "value": "style_2",
                    "label": "Style 2" 
                },
                { 
                    "value": "style_3",
                    "label": "Style 3" 
                }           
            ],
            "default": "style_1"
        },
        {
            "type": "header",
            "content": "Horizontal Tab Button Settings:"
        },
        {
            "type": "checkbox",
            "id": "enable_style_override",
            "label": "Enable Style Override",
            "default": true
        },
        {
            "type": "color",
            "id": "tab_inactive_bg_color",
            "label": "Tab Inactive Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "tab_inactive_border_color",
            "label": "Tab Inactive Border Color",
            "default": "#df9764"
        },
        {
            "type": "color",
            "id": "tab_inactive_color",
            "label": "Tab Inactive Text Color",
            "default": "#df9764"
        },
        {
            "type": "color",
            "id": "tab_active_bg_color",
            "label": "Tab Active Background Color",
            "default": "#df9764"
        },
        {
            "type": "color",
            "id": "tab_activeborder_color",
            "label": "Tab Active Border Color",
            "default": "#df9764"
        },
        {
            "type": "color",
            "id": "tab_active_color",
            "label": "Tab Active Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "header",
            "content": "Button Settings:"
        },
        {
            "type": "checkbox",
            "id": "use_button",
            "label": "Use Button",
            "default": true
        },
        {
            "type": "text",
            "id": "button_prefix",
            "label": "Button Prefix",
            "default": "Shop"
        },
        {
            "type": "text",
            "id": "button_remove_text",
            "label": "Button Text to remove",
            "default": "Favorites:"
        },
        {
            "type": "header",
            "content": "Button Styling"
        },
        {
            "type": "color",
            "id": "button_bg_color",
            "label": "Button Background Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "button_hover_bg_color",
            "label": "Button Hover Background",
            "default": "#333333"
        },
        {
            "type": "color",
            "id": "button_hover_text_color",
            "label": "Button Hover Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "color",
            "id": "button_hover_border_color",
            "label": "Button Hover Border Color",
            "default": "#333333"
        },
        {
            "type": "range",
            "id": "button_padding_top",
            "label": "Button Padding Top",
            "min": 0,
            "max": 30,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "button_padding_right",
            "label": "Button Padding Right",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 15
        },
        {
            "type": "range",
            "id": "button_padding_bottom",
            "label": "Button Padding Bottom",
            "min": 0,
            "max": 30,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "button_padding_left",
            "label": "Button Padding Left",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 15
        },
        {
            "type": "header",
            "content": "Margin Bottom:"
        },
        {
            "type": "range",
            "id": "margin_bottom_mb",
            "label": "Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "range",
            "id": "margin_bottom_tab",
            "label": "Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 10
        },
        {
            "type": "header",
            "content": "Slider Dot Settings:"
        },
        {
            "type": "color",
            "id": "dots_bg_color",
            "label": "Background Color",
            "default": "#a9a9a9"
        },
        {
            "type": "color",
            "id": "dots_border_color",
            "label": "Border Color",
            "default": "#a9a9a9"
        },
        {
            "type": "color",
            "id": "dots_active_bg_color",
            "label": "Active Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "dots_active_border_color",
            "label": "Active Border Color",
            "default": "#a9a9a9"
        },
        {
            "type": "range",
            "id": "dots_margin_bottom_mb",
            "label": "Margin bottom Mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 15
        },
        {
            "type": "range",
            "id": "dots_margin_bottom_tab",
            "label": "Margin bottom Tablet",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 20
        }
    ],
    "blocks" : [
        {
            "type" : "ProductTabs",
            "name" : "Product Tabs",
            "settings":[
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : "Title Tabs",
                    "default" : "Womens"
                },
                {
                    "type" : "collection",
                    "id" : "collection",
                    "label" : "Collection to use"
                },
                {
                    "type": "header",
                    "content": "Button Overrides (optional)"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "info": "If set, this will override the default button text"
                },
                {
                    "type": "page",
                    "id": "page_link",
                    "label": "Page Link (optional)",
                    "info": "If a page is selected, the tab title will link to that page instead of switching tabs."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Tabs",
            "category": "Collection"     
        }
    ]
  }
{% endschema %}



