{% liquid 
    assign s = section.settings
    assign section_heading = s.section_heading
    %}
<section class="makes-sense">
    <div class="container-md">
        {% if section_heading != blank %}
        <h2 class="section-title section-title--has-border text-center">{{ section_heading }}</h2>
        {% endif %}

        <div class="row">
            {% for block in section.blocks %}
                {% liquid 
                    assign bs = block.settings
                    assign content = bs.content
                    assign background_color = bs.background_color
                    assign font_color = bs.font_color
                    assign pointer_color = bs.pointer_color
                    %}
                    <style>
                        #shopify-section-{{ section.id }} .block-{{ block.type }}--{{ forloop.index }} .content-box{
                            background-color: {{ background_color }}; 
                        }
                        #shopify-section-{{ section.id }} .block-{{ block.type }}--{{ forloop.index }} .content-box h2{
                            color: {{ font_color }}; 
                        }
                        #shopify-section-{{ section.id }} .block-{{ block.type }}--{{ forloop.index }} .dot {
                            background-color: {{ pointer_color }};
                        }
                    </style>
                    <div class="col-lg-6 px-xl-4 py-3 block-{{ block.type }}--{{ forloop.index }}">
                        <div class="bg-bronze-2 content-box h-100">
                            <div class="dot bg-bronze-1"></div>
                            {% if content != blank %}
                            <h2 class="text-light-beige">{{ content }}</h2>
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Content Columns",
    "class": "safe-eating-content-columns-section",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Section heading goes here"
        }
    ],
    "max_blocks": 2,
    "blocks": [
        {
            "name": "Content Block",
            "type": "content",
            "settings": [
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content",
                    "default": "Block content goes here"
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background color"
                },
                {
                    "type": "color",
                    "id": "font_color",
                    "label": "Text color"
                },
                {
                    "type": "color",
                    "id": "pointer_color",
                    "label": "Dot Pointer color"
                }
            ]
        }
    ]
}
{% endschema %}