{% comment %} <div class="page-tpl about-us-2">
    {% section 'page-header' %}
    {% section 'about-us-2-content' %}
</div> {% endcomment %}

{% section 'page-title' %}

{% section 'page-header-about' %}

{% section 'image-content-about' %}

{% section 'team-mates' %}

{% section 'about-us-blog' %}
<!-- <section class="hero-about-us flex-v-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="hero-about-us__caption text-center">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="our-mission">
    <div class="container-md">
        <h2 class="text-bronze-2 text-center">Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h2>
    </div>
</section> -->

<!-- <section class="image-with-content">
    <div class="container">
        <div class="row align-items-center image-with-content__row">
            <div class="col-lg-6">
                <div class="image-wrapper image-wrapper--round">
                    {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-box">
                    <h3 class="font-karla mb-15 font-demi">Lorem ipsum dolor sit amet</h3>
                    <p>Our firstborn hated every highchair he ever met, until the day he sat in the IKEA Antilop. As
                        parents, we loved the clean design (but mostly the $20 price tag!). After using it for a few
                        years, we discovered a few flaws. As our second son was starting solids, we began making
                        accessories to solve those issues. We hoped we'd reach a tiny percentage of IKEA highchair
                        owners. It never occurred to us that someday people would buy the IKEA highchair just to get our
                        accessories! We feel incredibly blessed and humbled!</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center flex-row-reverse image-with-content__row">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-box">
                    <h3 class="font-karla mb-15 font-demi">Lorem ipsum dolor sit amet</h3>
                    <p>Our firstborn hated every highchair he ever met, until the day he sat in the IKEA Antilop. As
                        parents, we loved the clean design (but mostly the $20 price tag!). After using it for a few
                        years, we discovered a few flaws. As our second son was starting solids, we began making
                        accessories to solve those issues. We hoped we'd reach a tiny percentage of IKEA highchair
                        owners. It never occurred to us that someday people would buy the IKEA highchair just to get our
                        accessories! We feel incredibly blessed and humbled!</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center image-with-content__row">
            <div class="col-lg-6">
                <div class="image-wrapper">
                    {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-box">
                    <h3 class="font-karla mb-15 font-demi">Lorem ipsum dolor sit amet</h3>
                    <p>Our firstborn hated every highchair he ever met, until the day he sat in the IKEA Antilop. As
                        parents, we loved the clean design (but mostly the $20 price tag!). After using it for a few
                        years, we discovered a few flaws. As our second son was starting solids, we began making
                        accessories to solve those issues. We hoped we'd reach a tiny percentage of IKEA highchair
                        owners. It never occurred to us that someday people would buy the IKEA highchair just to get our
                        accessories! We feel incredibly blessed and humbled!</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="from-blogs">
    <div class="container">
        <h2 class="section-title section-title--has-border text-center">from our blog</h2>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="from-blogs__block">
                    <div class="block-thumbnail">
                        <div class="image-ratio image-ratio--16-9">
                            {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                        </div>
                    </div>
                    <div class="block-meta py-13">
                        <h3 class="font-demi font-karla">Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="from-blogs__block">
                    <div class="block-thumbnail">
                        <div class="image-ratio image-ratio--16-9">
                            {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                        </div>
                    </div>
                    <div class="block-meta py-13">
                        <h3 class="font-demi font-karla">Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="from-blogs__block">
                    <div class="block-thumbnail">
                        <div class="image-ratio image-ratio--16-9">
                            {{ 'static-family.png' | asset_img_url:'master' | img_tag }}
                        </div>
                    </div>
                    <div class="block-meta py-13">
                        <h3 class="font-demi font-karla">Lorem ipsum dolor sit amet</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> -->